{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
	{{ "administration"|trans }} - {{ "calendar_of_events_planned"|trans }} - {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ "calendar_of_events_planned"|trans }}
{% endblock %}

{% block content %}

<div class="well well-sm">
    {{ "calendar_hint"|trans }}
</div>

{% if events|length > 0 %}
	
	{% set lastEvent = events[0] %}
	
    {% for event in events %}
    	
    	{% if loop.index == 1 or event.startTime|date("Y-m-d") != lastEvent.startTime|date("Y-m-d") %}
    		
    		<h4>{{ event.startTime|localizeddate("full", "none", locale, time_zone) }}</h4>
    		
    	{% endif %}
    	
    	<div class="well well-sm">
			{% if event.published %}
				<span class="label label-success">{{ "event_set"|trans }}</span>
			{% else %}
				<span class="label label-warning">{{ "planned"|trans }}</span>
			{% endif %}
			
            {% if event.searchVolunteers %}
            	<a class="glyphicon glyphicon-flag" aria-hidden=true style="color: var(--second-main-color);" data-toggle="modal" data-target="#modal_search_volunteers_{{ event.id }}" title="{{ "search_volunteers"|trans }}"></a> 
        	{% endif %}

			<strong id="event_{{ event.id }}" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="
                {{ event.startTime|localizeddate("full", "short", locale, time_zone) }} -
                {% if event.takesLessThanOneDay %}
                    {{ event.endTime|localizeddate("none", "short", locale, time_zone) }}
                {% else %}
                    {{ event.endTime|localizeddate("full", "short", locale, time_zone) }}
                {% endif %}
			">{{ event.name }}</strong>

			<em> - {{ event.association.name }}</em>
			
            <h4>{{ "where"|trans }}</h4>
            <p>
                {% if event.place is not empty %}
                    <strong>{{ event.place }}</strong>
                        {% if event.fullAddress is not empty %}
                            <br/>
                        {% endif %}
                {% endif %}
    
                {% if event.fullAddress is not empty %}
                    {{ event.fullAddress }}
                {% endif %}
            </p>
    	</div>
    	
    {% endfor %}
        
    {% for event in events %}
		
        {# Searching volunteers hint #}
        {% if event.searchVolunteers %}
            <div class="modal fade" id="modal_search_volunteers_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ "search_volunteers"|trans }}</h4>
                        </div>
                        <div class="modal-body">
                        	<p>
                        		{{ "search_volunteers_message"|trans }}
                        	</p>
                        	
                        	{% set association = event.association %}
                        	
                        	{% if association.fullAddress is not empty
                                or association.phone is not empty
                                or association.website is not empty
                                or association.urlFacebook is not empty
                                or event.website is not empty
                            %}
                        		<h5>{{ "contacts"|trans }}</h5>
                                <ul>
                                    {% if association.fullAddress is not empty %}
                
                                        <li>
                                            {{ "address_colon"|trans({"%address%": association.fullAddress }) }}
                                        </li>
                                    {% endif %}
                
                                    {% if association.phone is not empty %}
                                        <li>
                                            {{ "phone_colon"|trans({"%phone%": association.phone }) }}
                                        </li>
                                    {% endif %}
                
                                    {% if association.website is not empty %}
                                        <li>
                                            <a href="{{ association.website }}" target="_blank">{{ "website"|trans }}</a>
                                        </li>
                                    {% endif %}
                
                                    {% if association.urlFacebook is not empty %}
                                        <li>
                                            <a href="{{ association.urlFacebook }}" target="_blank">{{ "facebook"|trans }}</a>
                                        </li>
                                    {% endif %}
                
                                    {% if event.website is not empty %}
                                        <li>
                                            <a href="{{ event.website }}" target="_blank">{{ "event_website"|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	{% for event in events %}
		$("#event_{{ event.id }}").mouseover(function() {
			$('#event_{{ event.id }}').popover('show')
		});

		$("#event_{{ event.id }}").mouseout(function() {
			$('#event_{{ event.id }}').popover('hide')
		});
	{% endfor %}
</script>
{% endblock %}