{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
    {% if app.user.association is null %}
        {{ "no_association_assigned"|trans }}
    {% else %}
        {{ "events"|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if app.user.association is not null %}
        <p>
            <a id="addButton" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modal_add">{{ "new_event"|trans }}</a>
        </p>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                	<th></th>
                    <th>{{ "event"|trans }}</th>
                    <th>{{ "date"|trans }}</th>
                    <th>{{ "place"|trans }}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr id="tr_{{ event.id }}">
                        	<td>
                    			{% if event.published %}
                    				<span class="label label-success">{{ "event_set"|trans }}</span>
                    			{% else %}
                    				<span class="label label-warning">{{ "planned"|trans }}</span>
                    			{% endif %}
                        	</td>
                            <td><a data-toggle="modal" data-target="#modal_update_{{ event.id }}" id="a_update_{{ event.id }}">{{ event.name }}</a></td>
                            <td>{{ event.startTime|localizeddate("long", "none", locale, time_zone) }}</td>
                            <td>
                                {% if event.place is not empty %}
                                    {{ event.place }}
                                {% elseif event.city is not empty %}
                                    {{ event.city }}
                                {% endif %}
                            </td>
                            <td>
                            	{% if event.published %}
                                	<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl, "source": "admin_events"}) }}">{{ "consult"|trans }}</a>
                            	{% endif %}
                            </td>
                            <td>
                            	<a data-toggle="modal" data-target="#modal_delete_{{ event.id }}" class="label label-warning" style="text-decoration: none;">{{ "delete"|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        {# Form to add event #}
        <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "event"|trans }}</h4>
                    </div>
                    {{ form_start(formAdd, {'attr': {'class': 'form-horizontal', 'id': 'form_add'}}) }}
                    <div class="modal-body">

                        <div id="warning_add"></div>

                        <p>

                            {# General errors of the form #}
                            {{ form_errors(formAdd) }}

                            {# Manual and exploded generation: #}
                        <div class="form-group">

                            {# Label. #}
                            {{ form_label(formAdd.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">

                                {# Display errors for this field. #}
                                {{ form_errors(formAdd.name) }}

                                {# Input #}
                                {{ form_widget(formAdd.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.file, "picture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.file) }}

                                {{ form_widget(formAdd.file, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.startTime, "start", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.startTime) }}
                                {{ form_widget(formAdd.startTime) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.endTime, "end", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.endTime) }}
                                {{ form_widget(formAdd.endTime) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.description) }}
                                {{ form_widget(formAdd.description, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                    
                				<p class="nb_characters_description"></p>
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.website, "website", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.website) }}
                                {{ form_widget(formAdd.website, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.free, "free", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.free) }}
                                {{ form_widget(formAdd.free, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.pricing, "pricing_hint", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.pricing) }}
                                {{ form_widget(formAdd.pricing, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.searchVolunteers, "search_volunteers", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.searchVolunteers) }}
                                {{ form_widget(formAdd.searchVolunteers, {'attr': {'class': 'form-control'}}) }}
                                
                                <p class="well well-sm">{{ "search_volunteers_hint"|trans }}</p>
                            </div>
                        </div>
                        <hr>
                        <h3>{{ "place"|trans }}</h3>
                        <div class="form-group">

                            {{ form_label(formAdd.place, "place_name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.place) }}
                                {{ form_widget(formAdd.place, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.street, "street", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.street) }}
                                {{ form_widget(formAdd.street, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.zipCode, "zipCode", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.zipCode) }}

                                {{ form_widget(formAdd.zipCode, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.city, "city", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.city) }}

                                {{ form_widget(formAdd.city, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group display-none">

                            {{ form_label(formAdd.latitude, "latitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.latitude) }}

                                {{ form_widget(formAdd.latitude, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group display-none">

                            {{ form_label(formAdd.longitude, "longitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.longitude) }}

                                {{ form_widget(formAdd.longitude, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">

                            {{ form_label(formAdd.published, "publish", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-10">
                                {{ form_errors(formAdd.published) }}
                                {{ form_widget(formAdd.published, {'attr': {'class': 'form-control'}}) }}
                                
                                <p class="well well-sm">{{ "publish_hint"|trans }}</p>
                            </div>
                        </div>

                        {{ form_rest(formAdd) }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        <button type="button" class="btn btn-success" id="form_add_button_submit" onClick="getLocation('form_add');" data-loading-text="{{ "loading"|trans }}">{{ "save"|trans }}</button>
                    </div>

                    {# Close <form> #}
                    {{ form_end(formAdd) }}
                </div>
            </div>
        </div>



        {# Forms to update events #}
        {% for form in forms %}
            {% set event = events[loop.index0] %}

            <div class="modal fade" id="modal_update_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ "event"|trans }}</h4>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form_update_'~event.id}}) }}
                        <div class="modal-body">

                            <div id="warning_update_{{ event.id }}"></div>

                            <p>

                                <input type="hidden" name="eventId" value="{{ event.id }}"/>

                                {# General errors of the form #}
                                {{ form_errors(form) }}

                                {# Manual and exploded generation: #}
                                <div class="form-group">

                                    {# Label. #}
                                    {{ form_label(form.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                    <div class="col-sm-10">

                                        {# Display errors for this field. #}
                                        {{ form_errors(form.name) }}

                                        {# Input #}
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.file, "picture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                    <div class="col-sm-10">
                                        {{ form_errors(form.file) }}

                                        {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.startTime, "start", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.startTime) }}
                                        {{ form_widget(form.startTime) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.endTime, "end", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.endTime) }}
                                        {{ form_widget(form.endTime) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                    					
                						<p class="nb_characters_description"></p>
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.website, "website", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.website) }}
                                        {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
        
                                    {{ form_label(form.free, "free", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.free) }}
                                        {{ form_widget(form.free, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
        
                                    {{ form_label(form.pricing, "pricing", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.pricing) }}
                                        {{ form_widget(form.pricing, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
        
                                    {{ form_label(form.searchVolunteers, "search_volunteers", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.searchVolunteers) }}
                                        {{ form_widget(form.searchVolunteers, {'attr': {'class': 'form-control'}}) }}
                                        
                                        <p class="well well-sm">{{ "search_volunteers_hint"|trans }}</p>
                                    </div>
                                </div>
                                <hr>
                                <h3>{{ "place"|trans }}</h3>
                                <div class="form-group">

                                    {{ form_label(form.place, "place_name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.place) }}
                                        {{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.street, "street", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.street) }}

                                        {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.zipCode, "zipCode", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.zipCode) }}

                                        {{ form_widget(form.zipCode, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.city, "city", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.city) }}

                                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group display-none">

                                    {{ form_label(form.latitude, "latitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.latitude) }}

                                        {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group display-none">

                                    {{ form_label(form.longitude, "longitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.longitude) }}

                                        {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
        
                                    {{ form_label(form.published, "publish", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    <div class="col-sm-10">
                                        {{ form_errors(form.published) }}
                                        {{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}
                                        
                                        <p class="well well-sm">{{ "publish_hint"|trans }}</p>
                                    </div>
                                </div>

                                {{ form_rest(form) }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                            <button type="button" class="btn btn-success" id="form_add_button_submit" onClick="getLocation('form_update_{{ event.id }}');" data-loading-text="{{ "loading"|trans }}">{{ "save"|trans }}</button>
                        </div>

                        {# Close <form> #}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            
            
            {# Form to delete event #}
            <div class="modal fade" id="modal_delete_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ "delete"|trans }}</h4>
                        </div>
                        <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST">
                            <div class="modal-body">
    
                                <input type="hidden" name="deleteId" value="{{ event.id }}"/>
    
                                <p>
                                    {{ "delete_event_confirmation"|trans({'%name%': event.name}) }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "cancel"|trans }}</button>
                                <button type="submit" class="btn btn-warning">{{ "delete"|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript">

        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii', language: 'fr', autoclose: true});

        {# Open a modal dialog if there is a error with a form #}
        {% set i = 0 %}
        {% for form in forms %}
            {% if form.name.vars.errors|length
                or form.startTime.vars.errors|length
                or form.endTime.vars.errors|length
                or form.description.vars.errors|length
                or form.website.vars.errors|length
                or form.searchVolunteers.vars.errors|length
                or form.free.vars.errors|length
                or form.pricing.vars.errors|length
                or form.place.vars.errors|length
                or form.name.vars.errors|length
                or form.street.vars.errors|length
                or form.zipCode.vars.errors|length
                or form.city.vars.errors|length
                or form.latitude.vars.errors|length
                or form.longitude.vars.errors|length
                or form.published.vars.errors|length
                or form.file.vars.errors|length
            %}

                {% set event = events[i] %}

                $("#warning_update_{{ event.id }}").attr("class", "alert alert-warning");
                $("#warning_update_{{ event.id }}").attr("role", "alert");
                $("#warning_update_{{ event.id }}").text("{{ "error_field"|trans }}");

                $("#modal_update_{{ event.id }}").modal("show");
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}

        {% if formAdd.name.vars.errors|length
            or formAdd.startTime.vars.errors|length
            or formAdd.endTime.vars.errors|length
            or formAdd.description.vars.errors|length
            or formAdd.website.vars.errors|length
            or formAdd.searchVolunteers.vars.errors|length
            or formAdd.free.vars.errors|length
            or formAdd.pricing.vars.errors|length
            or formAdd.place.vars.errors|length
            or formAdd.name.vars.errors|length
            or formAdd.street.vars.errors|length
            or formAdd.zipCode.vars.errors|length
            or formAdd.city.vars.errors|length
            or formAdd.latitude.vars.errors|length
            or formAdd.longitude.vars.errors|length
            or formAdd.published.vars.errors|length
            or formAdd.file.vars.errors|length
        %}

            $("#warning_add").attr("class", "alert alert-warning");
            $("#warning_add").attr("role", "alert");
            $("#warning_add").text("{{ "error_field"|trans }}");

            $("#modal_add").modal("show");
        {% endif %}


        function getLocation(formName) {
			
            // Set submit button in loading mode
			$('#'+formName+'_button_submit').button('loading');

            // Get address
			var address = '';

			var place = $("#"+formName+" #event_form_place").val().trim();
			var street = $("#"+formName+" #event_form_street").val().trim();
			var zipCode = $("#"+formName+" #event_form_zipCode").val().trim();
			var city = $("#"+formName+" #event_form_city").val().trim();
			
			if(street) {
				address = street;
			}
			else if(place) {
				address = place;
			}

			if(zipCode)
				address += " " + zipCode;
			if(city)
				address += " " + city;
			
			if(address === '') {
				// Remove the loading mode on the submit button
				$('#'+formName+'_button_submit').button('reset');
				alert('{{ "no_address"|trans }}');
			}
			else {

	        	// Send request
	        	$.ajax({
	                type: "GET",
	                url: 'http://api-adresse.data.gouv.fr/search/?q='+address,
	                dataType: 'json',
	                success: function(response){

						// Send a request to the API to get the coordinates (lat/lng) of the place.
						// An error is displayed if the request fails, if there is no result
						// or if the places returned don't have a good match score. 
						
						if("features" in response
								&& response["features"].length > 0
								&& "geometry" in response["features"][0]
								&& "coordinates" in response["features"][0]["geometry"]
								&& response["features"][0]["geometry"]["coordinates"].length > 1
								&& "properties" in response["features"][0]
								&& "score" in response["features"][0]["properties"]
								&& response["features"][0]["properties"]["score"] > 0.60
						){
							// Set lat/lng in the field and submit the form
							var coordinates = response["features"][0]["geometry"]["coordinates"];

							$("#"+formName+" #event_form_longitude").val(coordinates[0]);
							$("#"+formName+" #event_form_latitude").val(coordinates[1]);

							$("#"+formName).submit();
						}
						else {

							// Remove the loading mode on the submit button
							$('#'+formName+'_button_submit').button('reset');
							
							alert("{{ "error_getting_location"|trans }}");
						}
	                }
				});
			}
        }

		{% if app.user.association != null %}
    		$(function() {
    
    			countNbCharacters("form_add");
    		    
        		$("#form_add #event_form_description").on('keyup', function(event) {
        			countNbCharacters("form_add");
        		});

        		{% for event in events %}
					countNbCharacters("form_update_{{ event.id }}");
    		    	
            		$("#form_update_{{ event.id }} #event_form_description").on('keyup', function(event) {
            			countNbCharacters("form_update_{{ event.id }}");
            		});
        		{% endfor %}
    		});
    
    		function countNbCharacters(formId) {
    
    			var currentString = $("#"+formId+" #event_form_description").val();
    		    var nb = currentString.length;
    			var text = "{{ "nb_characters_description"|trans }}";
    			text = text.replace("XXX", nb);
    			
    			$("#"+formId+" .nb_characters_description").text(text);
    		}
		{% endif %}
    </script>
{% endblock %}