{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
	{{ "administration"|trans }} - 
    {% if event is null %}
        {{ "event_unknown"|trans }}
    {% else %}
        {{ "event_documents"|trans({"%event%": event.name}) }}
    {% endif %}
     - {{ parent() }}
{% endblock %}

{% block page_title %}
    {% if event is null %}
        {{ "event_unknown"|trans }}
    {% else %}
        {{ "event_documents"|trans({"%event%": event.name}) }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if event is not null %}
        
        {% if formDocument != null %}
    
            <div class="well well-sm">
                {{ "event_document_form_hint"|trans }}
            </div>
			
			{% if event.documents|length > 0 %}
				<table class="table table-striped">
    				<thead>
                    <tr>
                        <th>{{ "document"|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
					{% for document in event.documents %}
						<tr>
							<td>
								<a href="{{ asset(document.path) }}">{{ document.name }}</a>
							</td>
                            <td>
                            	<a data-toggle="modal" data-target="#modal_delete_{{ document.id }}" class="label label-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="{{ "delete"|trans }}"></span></a>
                            </td>
						</tr>
					{% endfor %}
				</table>
				
				{% for document in event.documents %}
					
                    {# Form to delete the document #}
                    <div class="modal fade" id="modal_delete_{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ "delete"|trans }}</h4>
                                </div>
                                <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST">
                                    <div class="modal-body">
            
                                        <input type="hidden" name="deleteId" value="{{ document.id }}"/>
            
                                        <p>
                                            {{ "delete_document_confirmation"|trans({'%name%': document.name}) }}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "cancel"|trans }}</button>
                                        <button type="submit" class="btn btn-warning">{{ "delete"|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
				{% endfor %}
			{% endif %}
			
            {# Open <form> #}
            {{ form_start(formDocument, {'attr': {'class': 'form-horizontal'}}) }}
            
    		<p>    
                {# General errors of the form #}
                {{ form_errors(formDocument) }}
    			
                <div class="form-group">
    
                    {# Label. #}
                    {{ form_label(formDocument.file, "document", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
                    <div class="col-sm-10">
    
                        {# Display errors for this field. #}
                        {{ form_errors(formDocument.file) }}
    
                        {# Input #}
                        {{ form_widget(formDocument.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
    
                    {{ form_label(formDocument.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
                    <div class="col-sm-10">
                        {{ form_errors(formDocument.name) }}
    
                        {{ form_widget(formDocument.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
    
                {{ form_rest(formDocument) }}
    
                <div class="form-group">
    
                    <div class="col-sm-2 control-label"></div>
    
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">{{ "add"|trans }}</button>
                    </div>
                </div>
            </p>
            
            {# Close <form> #}
            {{ form_end(formDocument) }}
		{% endif %}
    {% endif %}
{% endblock %}

{% block js %}
{% endblock %}