{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
    {% if app.user.association is null %}
        {{ "no_association_assigned"|trans }}
    {% else %}
        {{ app.user.association.name }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if app.user.association is not null %}
        {# Open <form> #}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {% if app.user.association.picture is not empty %}
            <p class="center">
                <img src="{{ asset(app.user.association.getPicturePath()) }}" title="{{ "picture"|trans }}" />
            </p>
        {% endif %}

        <div class="well well-sm">
            {{ "association_form_hint"|trans }}
        </div>

        <p>

            {# General errors of the form #}
            {{ form_errors(form) }}

            <h3>{{ "general"|trans }}</h3>

            {# Manual and exploded generation: #}
            <div class="form-group">

                {# Label. #}
                {{ form_label(form.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">

                    {# Display errors for this field. #}
                    {{ form_errors(form.name) }}

                    {# Input #}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.file, "picture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.file) }}

                    {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.description) }}

                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                    
                	<p id="nb_characters_description"></p>
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.urlVideo, "url_video", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.urlVideo) }}

                    {{ form_widget(form.urlVideo, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.website, "website", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.website) }}

                    {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.urlFacebook, "facebook", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.urlFacebook) }}

                    {{ form_widget(form.urlFacebook, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.email, "email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.email) }}

                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.phone, "phone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.phone) }}

                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <h3>{{ "address"|trans }}</h3>
            <div class="form-group">

                {{ form_label(form.street, "street", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.street) }}

                    {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.zipCode, "zipCode", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.zipCode) }}

                    {{ form_widget(form.zipCode, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.city, "city", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.city) }}

                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group" style="display: none;">

                {{ form_label(form.displayed, "display", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                <div class="col-sm-10">
                    {{ form_errors(form.displayed) }}

                    {{ form_widget(form.displayed, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="form-group">

                <div class="col-sm-2 control-label"></div>

                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                </div>
            </div>
        </p>
        
        {# Close <form> #}
        {{ form_end(form) }}
        
		{% if formDocument != null %}
			<hr/>
			
			<h3>{{ "documents"|trans }}</h3>
    
            <div class="well well-sm">
                {{ "document_form_hint"|trans }}
            </div>
			
			{% if app.user.association.documents|length > 0 %}
				<table class="table table-striped">
    				<thead>
                    <tr>
                        <th>{{ "document"|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
					{% for document in app.user.association.documents %}
						<tr>
							<td>
								<a href="{{ asset(document.path) }}">{{ document.name }}</a>
							</td>
                            <td>
                            	<a data-toggle="modal" data-target="#modal_delete_{{ document.id }}" class="label label-warning" style="text-decoration: none;">{{ "delete"|trans }}</a>
                            </td>
						</tr>
					{% endfor %}
				</table>
				
				{% for document in app.user.association.documents %}
					
                    {# Form to delete the document #}
                    <div class="modal fade" id="modal_delete_{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ "delete"|trans }}</h4>
                                </div>
                                <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST">
                                    <div class="modal-body">
            
                                        <input type="hidden" name="deleteId" value="{{ document.id }}"/>
            
                                        <p>
                                            {{ "delete_document_confirmation"|trans({'%name%': document.name}) }}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "cancel"|trans }}</button>
                                        <button type="submit" class="btn btn-warning">{{ "delete"|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
				{% endfor %}
			{% endif %}
			
            {# Open <form> #}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            
    		<p>    
                {# General errors of the form #}
                {{ form_errors(formDocument) }}
    			
                <div class="form-group">
    
                    {# Label. #}
                    {{ form_label(formDocument.file, "document", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
                    <div class="col-sm-10">
    
                        {# Display errors for this field. #}
                        {{ form_errors(formDocument.file) }}
    
                        {# Input #}
                        {{ form_widget(formDocument.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
    
                    {{ form_label(formDocument.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
                    <div class="col-sm-10">
                        {{ form_errors(formDocument.name) }}
    
                        {{ form_widget(formDocument.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
    
                {{ form_rest(formDocument) }}
    
                <div class="form-group">
    
                    <div class="col-sm-2 control-label"></div>
    
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">{{ "add"|trans }}</button>
                    </div>
                </div>
            </p>
            
            {# Close <form> #}
            {{ form_end(formDocument) }}
		{% endif %}
    {% endif %}
{% endblock %}

{% block js %}
	<script type="text/JavaScript">
	{% if app.user.association != null %}
		$(function() {
			countNbCharacters();
		});

		$("#association_form_description").on('keyup', function(event) {
			countNbCharacters();
		});

		function countNbCharacters() {

			var currentString = $("#association_form_description").val();
		    var nb = currentString.length;
			var text = "{{ "nb_characters_description"|trans }}";
			text = text.replace("XXX", nb);
			
			$("#nb_characters_description").text(text);
		}
	{% endif %}
	</script>
{% endblock %}