{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
    {{ "search_place_for_event"|trans }}
     - {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ "search_place_for_event"|trans }}
{% endblock %}

{% block content %}

	<form method="POST" action="{{ url(app.request.attributes.get('_route'), {'source': app.request.get('source')}) }}">
		<input type="hidden" name="action" value="search" />
		<p>
			<input type="text" class="form-control" id="name" name="name" placeholder="{{ "place"|trans }}" value="{% if search is defined %}{{ search }}{% endif %}" autofocus>
		</p>
		<p>
			<button type="submit" class="btn btn-success btn-small">{{ "search"|trans }}</button>
		</p>
	</form>
	
	{% if search is not empty %}
	
    	{% if places|length > 0 %}
    		<table class="table">
    			<tr>
    				<th>{{ "name"|trans }}</th>
    				<th>{{ "city"|trans }}</th>
    			</tr>
    			
    			{% for place in places %}
    				<tr>
    					<td>
    						<a href="{% if app.request.get('source') == 'admin' %} {{ url("app_admin_events", {"placeId": place.id}) }} {% else %} {{ url("app_superadmin_events", {"placeId": place.id}) }} {% endif %} ">
    						    {{ place.name }}
    						</a>
    					</td>
    					<td>{{ place.city }}</td>
    				</tr>
    			{% endfor %}
    		</table>
    	{% else %}
    		<p>{{ "no_result"|trans }}</p>
    	{% endif %}
    	
    	<div class="alert alert-success alert-dismissible fade in" role="alert">
			<h4>{{ "searched_place_not_found"|trans }}</h4>
			<p>{{ "searched_place_not_found_hint"|trans }}</p>
			<p>
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newForm">{{ "i_create_it"|trans }}</button>
			</p>
		</div>
		
		{# Form to add event #}
        <div class="modal fade" id="newForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "place"|trans }}</h4>
                    </div>
                    {{ form_start(formAdd, {'attr': {'class': 'form-horizontal', 'id': 'form_add'}}) }}
                    <div class="modal-body">

                        <div id="warning_add"></div>

                        <p>

                            {# General errors of the form #}
                            {{ form_errors(formAdd) }}

                            {# Manual and exploded generation: #}
                        <div class="form-group">

                            {# Label. #}
                            {{ form_label(formAdd.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">

                                {# Display errors for this field. #}
                                {{ form_errors(formAdd.name) }}

                                {# Input #}
                                {{ form_widget(formAdd.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.street, "street", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.street) }}

                                {{ form_widget(formAdd.street, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.zipCode, "zipCode", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.zipCode) }}

                                {{ form_widget(formAdd.zipCode, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.city, "city", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.city) }}

                                {{ form_widget(formAdd.city, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <hr>
                        <p class="well well-sm">{{ "geolocation_hint"|trans }} <a href="http://www.coordonnees-gps.fr" target="_blank">coordonnees-gps.fr</a></p>
                        <div class="form-group">

                            {{ form_label(formAdd.latitude, "latitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.latitude) }}

                                {{ form_widget(formAdd.latitude, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.longitude, "longitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.longitude) }}

                                {{ form_widget(formAdd.longitude, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        {{ form_rest(formAdd) }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        <button type="button" class="btn btn-success" id="form_add_button_submit" onClick="getLocation('form_add');" data-loading-text="{{ "loading"|trans }}">{{ "save"|trans }}</button>
                    </div>

                    {# Close <form> #}
                    {{ form_end(formAdd) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
	
    <script type="text/javascript">
    	function getLocation(formName) {
			
            // Set submit button in loading mode
			$('#'+formName+'_button_submit').button('loading');

			// Get address
			var address = '';

			var place = $("#"+formName+" #place_form_name").val().trim();
			var street = $("#"+formName+" #place_form_street").val().trim();
			var zipCode = $("#"+formName+" #place_form_zipCode").val().trim();
			var city = $("#"+formName+" #place_form_city").val().trim();
			var lat = $("#"+formName+" #place_form_latitude").val().trim();
			var lng = $("#"+formName+" #place_form_longitude").val().trim();

			if(lat && lng) {
				$("#"+formName).submit();
    		}
			else {
    			if(street) {
    				address = street;
    			}
    			else if(place) {
    				address = place;
    			}
    
    			if(zipCode)
    				address += " " + zipCode;
    			if(city)
    				address += " " + city;
    
    			if(address === '') {
    				// Remove the loading mode on the submit button
    				$('#'+formName+'_button_submit').button('reset');
    				alert('{{ "no_address"|trans }}');
    			}
    			else {
    
    	        	// Send request
    	        	$.ajax({
    	                type: "GET",
    	                url: 'http://api-adresse.data.gouv.fr/search/?q='+address,
    	                dataType: 'json',
    	                success: function(response){
    
    						// Send a request to the API to get the coordinates (lat/lng) of the place.
    						// An error is displayed if the request fails, if there is no result
    						// or if the places returned don't have a good match score. 
    						
    						if("features" in response
    								&& response["features"].length > 0
    								&& "geometry" in response["features"][0]
    								&& "coordinates" in response["features"][0]["geometry"]
    								&& response["features"][0]["geometry"]["coordinates"].length > 1
    								&& "properties" in response["features"][0]
    								&& "score" in response["features"][0]["properties"]
    								&& response["features"][0]["properties"]["score"] > 0.60
    						){
    							// Set lat/lng in the field and submit the form
    							var coordinates = response["features"][0]["geometry"]["coordinates"];
    
    							$("#"+formName+" #place_form_longitude").val(coordinates[0]);
    							$("#"+formName+" #place_form_latitude").val(coordinates[1]);
    
    							$("#"+formName).submit();
    						}
    						else {
    
    							// Remove the loading mode on the submit button
    							$('#'+formName+'_button_submit').button('reset');
    							
    							alert("{{ "error_getting_location"|trans }}");
    						}
    	                }
    				});
    			}
			}
        }
    </script>
{% endblock %}