{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
    {{ "administration"|trans }} - {{ "workshops"|trans }} - {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ "workshops"|trans }}
{% endblock %}

{% block content %}
    {% if is_granted("ROLE_ADMIN") %}
        <p>
            <a id="addButton" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modal_add">{{ "new_workshop"|trans }}</a>
        </p>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "workshop"|trans }}</th>
                <th></th>
                <th></th>
                {% if is_granted("ROLE_ADMIN") %}
                	<th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for association in associations %}
                <tr>
                    <td><a data-toggle="modal" data-target="#modal_update_{{ association.id }}" id="a_update_{{ association.id }}" style="cursor: pointer;">{{ association.name }}</a></td>
                    <td>
                    	<a href="{{ url("app_superadmin_association_document", {"id": association.id}) }}">{{ "documents"|trans }}</a>
                    </td>
                    <td>
                        <a href="{{ url("app_workshop", {"id": association.id, "name": association.nameForUrl, "source": "super_admin_associations"}) }}">{{ "consult"|trans }}</a>
                    </td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a data-toggle="modal" data-target="#modal_delete_{{ association.id }}" class="label label-warning" style="text-decoration: none;">{{ "delete"|trans }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {# Form to add association #}
    <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "workshop"|trans }}</h4>
                </div>
                {{ form_start(formAdd, {'attr': {'class': 'form-horizontal', 'id': 'form_add'}}) }}
                <div class="modal-body">

                    <div id="warning_add"></div>

                    <p>

                        {# General errors of the form #}
                        {{ form_errors(formAdd) }}

                        {# Manual and exploded generation: #}
                        <div class="form-group">

                            {# Label. #}
                            {{ form_label(formAdd.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">

                                {# Display errors for this field. #}
                                {{ form_errors(formAdd.name) }}

                                {# Input #}
                                {{ form_widget(formAdd.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.file, "picture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.file) }}

                                {{ form_widget(formAdd.file, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.description) }}

                                {{ form_widget(formAdd.description, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                    
            					<p class="nb_characters_description"></p>
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.email, "email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.email) }}

                                {{ form_widget(formAdd.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_label(formAdd.phone, "phone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            <div class="col-sm-10">
                                {{ form_errors(formAdd.phone) }}

                                {{ form_widget(formAdd.phone, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        {{ form_rest(formAdd) }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                </div>

                {# Close <form> #}
                {{ form_end(formAdd) }}
            </div>
        </div>
    </div>


    {% set i = 0 %}

    {% for form in forms %}
        {% set association = associations[i] %}

        {# Form to update association #}
        <div class="modal fade" id="modal_update_{{ association.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "workshop"|trans }}</h4>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form_update_'~association.id}}) }}
                    <div class="modal-body">

                        <div id="warning_update_{{ association.id }}"></div>

                        {% if association.picture is not empty %}
                            <p class="center">
                                <img src="{{ asset(association.getPicturePath()) }}" title="{{ "picture"|trans }}" class="fit picture-form" />
                            </p>
                        {% endif %}

                        <p>

                            <input type="hidden" name="associationId" value="{{ association.id }}"/>

                            {# General errors of the form #}
                            {{ form_errors(form) }}

                            {# Manual and exploded generation: #}
                            <div class="form-group">

                                {# Label. #}
                                {{ form_label(form.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                <div class="col-sm-10">

                                    {# Display errors for this field. #}
                                    {{ form_errors(form.name) }}

                                    {# Input #}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">

                                {{ form_label(form.file, "picture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                <div class="col-sm-10">
                                    {{ form_errors(form.file) }}

                                    {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">

                                {{ form_label(form.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                <div class="col-sm-10">
                                    {{ form_errors(form.description) }}

                                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                    
            						<p class="nb_characters_description"></p>
                                </div>
                            </div>
                            <div class="form-group">

                                {{ form_label(form.email, "email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                <div class="col-sm-10">
                                    {{ form_errors(form.email) }}

                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">

                                {{ form_label(form.phone, "phone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                <div class="col-sm-10">
                                    {{ form_errors(form.phone) }}

                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            {{ form_rest(form) }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                    </div>

                    {# Close <form> #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>


        {# Form to delete association #}
        <div class="modal fade" id="modal_delete_{{ association.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "delete"|trans }}</h4>
                    </div>
                    <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST">
                        <div class="modal-body">

                            <input type="hidden" name="deleteId" value="{{ association.id }}"/>

                            <p>
                                {{ "delete_association_confirmation"|trans({'%name%': association.name}) }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "cancel"|trans }}</button>
                            <button type="submit" class="btn btn-warning">{{ "delete"|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% set i = i + 1 %}
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript">

        {# Open a modal dialog if there is a error with a form #}
        {% set i = 0 %}
        {% for form in forms %}
            {% if form.name.vars.errors|length
                or form.description.vars.errors|length
                or form.email.vars.errors|length
                or form.phone.vars.errors|length
                or form.file.vars.errors|length
            %}

                {% set association = associations[i] %}

                $("#warning_update_{{ association.id }}").attr("class", "alert alert-warning");
                $("#warning_update_{{ association.id }}").attr("role", "alert");
                $("#warning_update_{{ association.id }}").text("{{ "error_field"|trans }}");

                $("#modal_update_{{ association.id }}").modal("show");
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}

        {% if formAdd.name.vars.errors|length
            or formAdd.description.vars.errors|length
            or formAdd.email.vars.errors|length
            or formAdd.phone.vars.errors|length
            or formAdd.file.vars.errors|length
        %}

            $("#warning_add").attr("class", "alert alert-warning");
            $("#warning_add").attr("role", "alert");
            $("#warning_add").text("{{ "error_field"|trans }}");

            $("#modal_add").modal("show");
        {% endif %}

		{% if app.user.association != null %}
    		$(function() {
    
    			countNbCharacters("form_add");
    		    
        		$("#form_add #association_form_description").on('keyup', function(event) {
        			countNbCharacters("form_add");
        		});

        		{% for association in associations %}
					countNbCharacters("form_update_{{ association.id }}");
    		    	
            		$("#form_update_{{ association.id }} #association_form_description").on('keyup', function(event) {
            			countNbCharacters("form_update_{{ association.id }}");
            		});
        		{% endfor %}
    		});
    
    		function countNbCharacters(formId) {
    
    			var currentString = $("#"+formId+" #association_form_description").val();
    		    var nb = currentString.length;
    			var text = "{{ "nb_characters_description"|trans }}";
    			text = text.replace("XXX", nb);
    			
    			$("#"+formId+" .nb_characters_description").text(text);
    		}
		{% endif %}
    </script>
{% endblock %}