<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    	{% set picturePath = "" %}
    	
        {% if event.picturePath is not empty %}
            {% set picturePath = event.picturePath %}
        {% elseif event.association.picturePath is not empty %}
            {% set picturePath = event.association.picturePath %}
        {% endif %}
        
		<a href="{{ url("app_event", {"id": event.id, "name": event.nameForURl}) }}">
            <div class="img" style="
				background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('{{ asset(picturePath) }}') no-repeat;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('{{ asset(picturePath) }}') no-repeat;
				background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('{{ asset(picturePath) }}') no-repeat;
				background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('{{ asset(picturePath) }}') no-repeat;
				background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('{{ asset(picturePath) }}') no-repeat;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('{{ asset(picturePath) }}') no-repeat;
				position: relative;
				float: center;
				background-position: 50% 50%;
				background-size:     contain">
				{# For background-size: contain or cover #}
				
            	<div style="position: absolute; bottom: 5%;
                            left: 5%;
                            right: 5%;
                            width: 90%;
                            height:17%;">
                     
        			<span class="white">
                        {{ event.startTime|localizeddate("full", "short", locale, time_zone) }}
                    </span><br/>
                    <strong class="white">{{ event.name }}</strong>
            	</div>
            </div>
        </a>
        <div class="caption">
            {% if event.searchVolunteers %}
            	<a class="glyphicon glyphicon-fire" aria-hidden=true style="color: red;" data-toggle="modal" data-target="#modal_search_volunteers_{{ event.id }}" title="{{ "search_volunteers"|trans }}"></a> 
        	{% endif %}
        	{{ "proposed_by"|trans }} <a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl}) }}">{{ event.association.name }}</a>
        </div>
    </div>
</div>