<div class="col-sm-6 col-md-3">
    <div class="thumbnail" style="padding-bottom: 0px; {% if hideBottom is defined and hideBottom %}margin-bottom: 0px;{% endif %}">
        {% if event.picturePath is not empty %}
            {% set picturePath = event.picturePath %}
        {% elseif event.association.picturePath is not empty %}
            {% set picturePath = event.association.picturePath %}
        {% endif %}
        
        {% set eventURL = null %}
        {% if source is defined %}
            {% set eventURL = url("app_event", {"id": event.id, "name": event.nameForUrl, "source": source}) %}
    	{% else %}
    	    {% set eventURL = url("app_event", {"id": event.id, "name": event.nameForUrl}) %}
	    {% endif %}
	    
		<a href="{{ eventURL }}" style="text-decoration: none;">
            <div class="img" style="
				background-image: url('{{ asset(picturePath) }}');
				position: relative;
				float: center;
				background-position: 50% 50%;
				background-size:     cover">
				{# For background-size: contain or cover #}
				
				{% if event.isCanceled %}
    				<div style="width: 100%; height: 100%; background-color: #000000; opacity: 0.3;"></div>
    				<div style="position: absolute; bottom: 0; margin-left: 1rem; margin-bottom: 1rem; color: white;"><strong>{{ "canceled"|trans }}</strong></div>
            	{% endif %}
            </div>
        </a>
        <div class="caption" style="padding-bottom: 0px; height: 80px;">
        	<table class="table" style="padding: 0px; margin: 0px;">
            	<tr style="padding: 0px; margin: 0px;">
            		<td style="padding: 0px; border: none;">
            			<span style="
                                      /* Style to limit the number or lines */
                                      display: block;
                                      text-overflow: ellipsis;
                                      word-wrap: break-word;
                                      overflow: hidden;
                                      max-height: 2.2em;
                                      line-height: 1.1em;">
                			<strong>{{ event.name }}</strong><br/>
                        </span>
                        <span style="
                                      /* Style to limit the number or lines */
                                      display: block;
                                      text-overflow: ellipsis;
                                      word-wrap: break-word;
                                      overflow: hidden;
                                      max-height: 2.2em;
                                      line-height: 1.1em;">
                            <span style="font-size: 12px">
                            	{% set now = "now"|date("Y-m-d H:i:s") %}
                            	{% if event.startTime|date("Y-m-d H:i:s") <= now and now < event.endTime|date("Y-m-d H:i:s") %}
                            		{{ "in_progress"|trans }}
                        		{% else %}
                                    {{ event.startTime|localizeddate("full", "short", locale, time_zone) }}
                                {% endif %}
                            </span><br/>
                    		
                    		{% if event.association.isWorkshop %}
            					<a href="{{ url("app_workshop", {"id": event.association.id, "name": event.association.nameForUrl}) }}" style="text-align: center;">{{ event.association.name }}</a>
            				{% else %}
            					<a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl}) }}" style="text-align: center;">{{ event.association.name }}</a>
            				{% endif %}
            			</span>
            		</td>
                    {% if event.searchVolunteers and (displaySearchVolunteers is not defined or displaySearchVolunteers) %}
                    	<td style="padding: 0px; border: none;">
                        	<span style="font-size: 2em; float: right;">
                        		<a class="glyphicon glyphicon-flag" aria-hidden=true style="color: var(--second-main-color); cursor: pointer;" data-toggle="modal" data-target="#modal_search_volunteers_{{ event.id }}" title="{{ "search_volunteers"|trans }}"></a>
                    		</span>
                		</td>
                    {% endif %}
            	</tr>
        	</table>
        </div>
    </div>
</div>