{% extends "AppBundle:Design:design_admin.html.twig" %}

{% block title %}
    {{ "administration"|trans }} - {{ "events"|trans }} - {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ "events"|trans }}
{% endblock %}

{% block content %}
    <p>
        <a class="btn btn-primary" role="button" href="{{ url("app_admin_search_place", {"source": "super_admin"}) }}">{{ "new_event"|trans }}</a>
    </p>
	
	{% if events|length == 0 %}
		{% if passedEvents|length == 0 %}
			<p>{{ "no_events"|trans }}</p>
		{% endif %}
	{% else %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                	<th></th>
                    <th>{{ "event"|trans }}</th>
                    <th>{{ "date"|trans }}</th>
                    <th>{{ "association"|trans }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                    	<td>
                			{% if event.published %}
                				<span class="label label-success">{{ "event_set"|trans }}</span>
                			{% else %}
                				<span class="label label-warning">{{ "planned"|trans }}</span>
                			{% endif %}
                    	</td>
                        <td><a href="{{ url("app_superadmin_event", {"id": event.id}) }}">{{ event.name }}</a></td>
                        <td>{{ event.startTime|localizeddate("long", "none", locale, time_zone) }}</td>
                        <td>
                            <a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl, "source": "super_admin_events"}) }}">
                                {{ event.association.name }}
                            </a>
                        </td>
                        <td>
                        	<a href="{{ url("app_admin_event_document", {"id": event.id}) }}">{{ "documents"|trans }}</a>
                        </td>
                        <td>
                        	{% if event.published %}
                            	<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl, "source": "super_admin_events"}) }}">{{ "consult"|trans }}</a>
                            {% endif %}
                        </td>
                        <td>
                        	<form method="post">
                        		<input type="hidden" name="action" value="duplicate"/>
                        		<input type="hidden" name="eventId" value="{{ event.id }}"/>
                        		<button type="submit" class="btn btn-sm btn-primary">{{ "duplicate"|trans }}</button>
                        	</form>
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#modal_delete_{{ event.id }}" class="btn btn-sm btn-warning" style="text-decoration: none;">{{ "delete"|trans }}</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
	
	{% if passedEvents|length > 0 %}
        <h3>{{ "passed_events"|trans }}</h3>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                	<th></th>
                    <th>{{ "event"|trans }}</th>
                    <th>{{ "date"|trans }}</th>
                    <th>{{ "association"|trans }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for event in passedEvents %}
                    <tr>
                    	<td>
                			{% if event.published %}
                				<span class="label label-success">{{ "event_set"|trans }}</span>
                			{% else %}
                				<span class="label label-warning">{{ "planned"|trans }}</span>
                			{% endif %}
                    	</td>
                        <td>
                        	{{ event.name }}
                    	</td>
                        <td>{{ event.startTime|localizeddate("long", "none", locale, time_zone) }}</td>
                        <td>
                            <a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl, "source": "super_admin_events"}) }}">
                                {{ event.association.name }}
                            </a>
                        </td>
                        <td>
                        	{% if event.published %}
                            	<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl, "source": "super_admin_events"}) }}">{{ "consult"|trans }}</a>
                            {% endif %}
                        </td>
                        <td>
                        	<form method="post">
                        		<input type="hidden" name="action" value="duplicate"/>
                        		<input type="hidden" name="eventId" value="{{ event.id }}"/>
                        		<button type="submit" class="btn btn-sm btn-primary">{{ "duplicate"|trans }}</button>
                        	</form>
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#modal_delete_{{ event.id }}" class="btn btn-sm btn-warning" style="text-decoration: none;">{{ "delete"|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}



    {# Form to add event #}
    <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "event"|trans }}</h4>
                </div>
                {{ form_start(formAdd, {'attr': {'class': 'form-horizontal', 'id': 'form_add'}}) }}
                <div class="modal-body">

                    <div id="warning_add"></div>
                    
                    {% if eventToDuplicateId is defined %}
                    	<input type="hidden" name="eventToDuplicateId" value="{{ eventToDuplicateId }}"/>
                    {% endif %}

                    <p>

                        {# General errors of the form #}
                        {{ form_errors(formAdd) }}

                        {# Manual and exploded generation: #}
                    <div class="form-group">

                        {# Label. #}
                        {{ form_label(formAdd.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        <div class="col-sm-10">

                            {# Display errors for this field. #}
                            {{ form_errors(formAdd.name) }}

                            {# Input #}
                            {{ form_widget(formAdd.name) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.file, "picture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.file) }}
                            
                            <p>
                                <div class="alert alert-info" role="alert">
                                	{{ "upload_picture_hint"|trans }}
                                </div>
                            </p>
                            
                            {{ form_widget(formAdd.file) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.association, "association", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.association) }}
                            {{ form_widget(formAdd.association) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.startTime, "start", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.startTime) }}
                            {{ form_widget(formAdd.startTime, {'attr': {'onChange': "onChangeStart('form_add');"}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.endTime, "end", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.endTime) }}
                            {{ form_widget(formAdd.endTime) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.description) }}
                            {{ form_widget(formAdd.description) }}
                    
            				<p class="nb_characters_description"></p>
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.website, "website", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.website) }}
                            {{ form_widget(formAdd.website) }}
                        </div>
                    </div>
                    <div class="form-group">
        
                        {{ form_label(formAdd.carpool, "carpool_url", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.carpool) }}
                            {{ form_widget(formAdd.carpool, {'attr': {'class': 'form-control'}}) }}
                            
                            <p class="well well-sm">
                            	<a href="http://www.movewiz.fr" target="_blank">{{ "carpool_hint"|trans }}</a>
                            	
                            	{% if newPlace is not null %}
                                	<br/>
                                	<strong>{{ newPlace.name }}</strong>
            						
                                    {% if newPlace.fullAddress is not empty %}
                                    	<br/>
                                        {{ newPlace.fullAddress }}
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.free, "free", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.free) }}
                            {{ form_widget(formAdd.free) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.pricing, "pricing_hint", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.pricing) }}
                            {{ form_widget(formAdd.pricing) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {{ form_label(formAdd.searchVolunteers, "search_volunteers", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.searchVolunteers) }}
                            {{ form_widget(formAdd.searchVolunteers) }}
                            
                            <p class="well well-sm">{{ "search_volunteers_hint"|trans }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">

                        {{ form_label(formAdd.published, "publish", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_errors(formAdd.published) }}
                            {{ form_widget(formAdd.published) }}
                            
                            <p class="well well-sm">{{ "publish_hint"|trans }}</p>
                        </div>
                    </div>

                    {{ form_rest(formAdd) }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                </div>

                {# Close <form> #}
                {{ form_end(formAdd) }}
            </div>
        </div>
    </div>

    {% for event in allEvents %}

        {# Form to delete event #}
        <div class="modal fade" id="modal_delete_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "delete"|trans }}</h4>
                    </div>
                    <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST">
                        <div class="modal-body">

                            <input type="hidden" name="deleteId" value="{{ event.id }}"/>

                            <p>
                                {{ "delete_event_confirmation"|trans({'%name%': event.name}) }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "cancel"|trans }}</button>
                            <button type="submit" class="btn btn-warning">{{ "delete"|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript">

        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii', language: 'fr', autoclose: true});

        {% if isDuplicatingEvent or displayAddForm %}
        	$("#modal_add").modal("show");
        {% endif %}

        {# Open a modal dialog if there is a error with a form #}
        {% if formAdd.name.vars.errors|length
            or formAdd.association.vars.errors|length
            or formAdd.startTime.vars.errors|length
            or formAdd.endTime.vars.errors|length
            or formAdd.description.vars.errors|length
            or formAdd.website.vars.errors|length
            or formAdd.searchVolunteers.vars.errors|length
            or formAdd.free.vars.errors|length
            or formAdd.pricing.vars.errors|length
            or formAdd.published.vars.errors|length
            or formAdd.file.vars.errors|length
        %}

            $("#warning_add").attr("class", "alert alert-warning");
            $("#warning_add").attr("role", "alert");
            $("#warning_add").text("{{ "error_field"|trans }}");

            $("#modal_add").modal("show");
        {% endif %}

		{% if app.user.association != null %}
    		$(function() {
    
    			countNbCharacters("form_add");
    		    
        		$("#form_add #super_admin_event_form_description").on('keyup', function(event) {
        			countNbCharacters("form_add");
        		});

        		{% for event in allEvents %}
					countNbCharacters("form_update_{{ event.id }}");
    		    	
            		$("#form_update_{{ event.id }} #super_admin_event_form_description").on('keyup', function(event) {
            			countNbCharacters("form_update_{{ event.id }}");
            		});
        		{% endfor %}
    		});
    
    		function countNbCharacters(formId) {
    
    			var currentString = $("#"+formId+" #super_admin_event_form_description").val();
    		    var nb = currentString.length;
    			var text = "{{ "nb_characters_description"|trans }}";
    			text = text.replace("XXX", nb);
    			
    			$("#"+formId+" .nb_characters_description").text(text);
    		}
		{% endif %}
		
		function onChangeStart(formId) {
			// If there is no start time or if the start time is after the end time, reset the end time.
			
			var start = $("#"+formId+" #super_admin_event_form_startTime");
			var end = $("#"+formId+" #super_admin_event_form_endTime");

			if(!end.val() || start.val() > end.val())
				end.val(start.val());
		}
    </script>
{% endblock %}