{% extends 'AppBundle:Design:design_admin.html.twig' %}

{% block title %}
    {{ "administration"|trans }} - {{ "users"|trans }} - {{ parent() }}
{% endblock %}

{% block page_title %}
    {{ "users"|trans }}
{% endblock %}

{% block content %}
<p>
    <a id="addButton" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modal_add">{{ "new_user"|trans }}</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "user"|trans }}</th>
                <th>{{ "association_or_workshop"|trans }}</th>
                <th>{{ "roles"|trans }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a data-toggle="modal" data-target="#modal_update_{{ user.id }}" id="a_update_{{ user.id }}" style="cursor: pointer;">{{ user.username }}</a>
                    </td>
                    <td>
                        {% if user.association is not empty and user.workshop is not empty %}
                            {{ "association_and_workshop"|trans({"%association%": user.association.name, "%workshop%": user.workshop.name}) }}
                        {% elseif user.association is not empty %}
                            {{ user.association.name }}
                        {% elseif user.workshop is not empty %}
                            {{ user.workshop.name }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                                <li>{{ role|trans }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#modal_password_{{ user.id }}" class="label label-default" style="text-decoration: none;">{{ "password"|trans }}</a>
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#modal_delete_{{ user.id }}" class="label label-warning" style="text-decoration: none;">{{ "delete"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {# Form to add user #}
    <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "user"|trans }}</h4>
                </div>
                {{ form_start(formAdd, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="modal-body">

                    <div id="warning_add"></div>

                    <p>

                        {# General errors of the form #}
                        {{ form_errors(formAdd) }}

                        {{ form_rest(formAdd) }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                </div>

                {# Close <form> #}
                {{ form_end(formAdd) }}
            </div>
        </div>
    </div>


    {% set i = 0 %}

    {% for form in forms %}
        {% set user = users[i] %}

        {# Form to update the profile #}
        <div class="modal fade" id="modal_update_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "user"|trans }}</h4>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="modal-body">

                        <div id="warning_update_{{ user.id }}"></div>

                        <p>

                            <input type="hidden" name="userId" value="{{ user.id }}"/>

                            {# General errors of the form #}
                            {{ form_errors(form) }}

                            {{ form_rest(form) }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                    </div>

                    {# Close <form> #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        {# Form to update the password #}
        {% set formPassword = formsPassword[i] %}
        <div class="modal fade" id="modal_password_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "password_change"|trans }}</h4>
                    </div>
                    {{ form_start(formPassword, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="modal-body">

                        <p>
                        
                        	<strong>{{ "user_modified"|trans({"%name%": user.username}) }}</strong>

                            <input type="hidden" name="userIdPassword" value="{{ user.id }}"/>

                            {# General errors of the form #}
                            {{ form_errors(formPassword) }}

                            {{ form_rest(formPassword) }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        <button type="submit" class="btn btn-success">{{ "save"|trans }}</button>
                    </div>

                    {# Close <form> #}
                    {{ form_end(formPassword) }}
                </div>
            </div>
        </div>


        {# Form to delete user #}
        <div class="modal fade" id="modal_delete_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ "delete"|trans }}</h4>
                    </div>
                    <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST">
                        <div class="modal-body">

                            <input type="hidden" name="deleteId" value="{{ user.id }}"/>

                            <p>
                                {{ "delete_user_confirmation"|trans({'%name%': user.username}) }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "cancel"|trans }}</button>
                            <button type="submit" class="btn btn-warning">{{ "delete"|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% set i = i + 1 %}
    {% endfor %}
{% endblock %}

