{% extends "AppBundle:Design:design.html.twig" %}

{% block title %}
	{{ "archives"|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url("app_index") }}">{{ "homepage"|trans }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ "archives"|trans }}</li>
			</ol>
		</nav>
        
        <h1 class="second-main-color center">{{ "archives"|trans }}</h1>

		{% if events|length == 0 %}
			<p>{{ "no_events"|trans }}</p>
		{% else %}
			<p>
				<div style="display: inline-block; width: 100%;">
					{% if nextMonth is not null %}
						<a type="button" class="btn btn-light" href="{{ url("app_archives_page", {"month": nextMonth, "year": nextYear}) }}">{{ "previous"|trans }}</a>
					{% endif %}
					{% if previousMonth is not null %}
						<a type="button" class="btn btn-light" style="float: right;" href="{{ url("app_archives_page", {"month": previousMonth, "year": previousYear}) }}">{{ "next"|trans }}</a>
					{% endif %}
				</div>
			</p>
			<p>
				{% set now = "now"|date("Y-m-d H:i:s") %}

				{% set lastEvent = events[0] %}
				{% set inProgressTitleDisplayed = false %}

				{% for event in events %}

					{% if loop.index == 1 or event.startTime|date("Y-m") != lastEvent.startTime|date("Y-m") %}

						{% if loop.index > 1 %}
							</div>
						{% endif %}


						{% set month = ("month_"~event.startTime|date("m"))|trans %}

						{% if now|date("Y") != event.startTime|date("Y") %}
							<h2>{{ "month_and_year"|trans({"%month%": month, "%year%": event.startTime|date("Y")}) }}</h2>
						{% else %}
							<h2>{{ month }}</h2>
						{% endif %}

						<div class="row">
					{% endif %}
					<div class="col-sm-6 col-md-4 mb-4">
						{% include 'AppBundle:Template:event.html.twig' with {'event': event, 'displaySearchVolunteers': false} %}
					</div>
					{% set lastEvent = event %}
				{% endfor %}

				</div>
			</p>

			<p>
				<div style="display: inline-block; width: 100%;">
					{% if nextMonth is not null %}
						<a type="button" class="btn btn-light" href="{{ url("app_archives_page", {"month": nextMonth, "year": nextYear}) }}">{{ "previous"|trans }}</a>
					{% endif %}
					{% if previousMonth is not null %}
						<a type="button" class="btn btn-light" style="float: right;" href="{{ url("app_archives_page", {"month": previousMonth, "year": previousYear}) }}">{{ "next"|trans }}</a>
					{% endif %}
				</div>
			</p>
		{% endif %}
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}