{% extends "AppBundle:Design:design.html.twig" %}

{% block title %}
    {% if app.request.get('_route') == "app_workshops" %}
        {{ "transition_workshops"|trans }} - {{ parent() }}
    {% else %}
        {{ "local_associations"|trans }} - {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url("app_index") }}">{{ "homepage"|trans }}</a></li>
                {% if app.request.get('_route') == "app_workshops" %}
                    <li class="breadcrumb-item active" aria-current="page">{{ "transition_workshops"|trans }}</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ "local_associations"|trans }}</li>
                {% endif %}
            </ol>
        </nav>

        {% if app.request.get('_route') == "app_workshops" %}
            <h1 class="green center">{{ "transition_workshops"|trans }}</h1>
        {% else %}
            <h1 class="third-main-color center">{{ "local_associations"|trans }}</h1>
        {% endif %}
        
        {% if associationTypes|length %}
        	<p>
        		<div style="text-align: center">
        			{% for type in associationTypes %}
	        
        				{% set typeUrl = url("app_associations", {"type": type.id}) %}
        				
        				{% if selectedType != null and selectedType.id == type.id %}
        					{% set typeUrl = url("app_associations") %}
        					
        					
					        <style type="text/css">
					        	.btn-outline-{{ type.id }}{
								    background-color: {{ type.color }};
								    border-color: {{ type.color }};
								    color: white;
								}
								.btn-outline-{{ type.id }}:hover{
								    color: {{ type.color }};
								    border-color: {{ type.color }};
								    background-color: transparent;
								}
					        </style>
					        
        				{% else %}
        					
					        <style type="text/css">
					        	.btn-outline-{{ type.id }}{
								    color: {{ type.color }};
								    border-color: {{ type.color }};
								}
								.btn-outline-{{ type.id }}:hover{
								    color: white;
								    background-color: {{ type.color }};
								    border-color: {{ type.color }};
								}
					        </style>
        				
        				{% endif %}
        				
        				<a href="{{ typeUrl }}" 
        				type="button" class="btn btn-outline-{{ type.id }}"
        				style="font-size: 1em; 
        				cursor: pointer;
        				"
        				>{{ type.name }}</a> 
        			{% endfor %}
        		</div>
        	</p>
        {% endif %}

        <!-- Wrapper for slides -->
        <p>
	        <div class="row">
	
	            {% for association in associations %}
	                <div class="col-sm-6 col-md-4 mb-4">
	                    {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
	                </div>
	            {% endfor %}
	        </div>
        </p>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}