{% extends "AppBundle:Design:design.html.twig" %}

{% block title %}
	{% if app.request.get('_route') == "app_workshops" %}
	    {{ "transition_workshops"|trans }} - {{ parent() }}
	{% else %}
	    {{ "local_associations"|trans }} - {{ parent() }}
	{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	{% if app.request.get('_route') == "app_workshops" %}
        	    <li class="active">{{ "transition_workshops"|trans }}</li>
        	{% else %}
        	    <li class="active">{{ "local_associations"|trans }}</li>
        	{% endif %}
        </ol>
        
        {% if app.request.get('_route') == "app_workshops" %}
        	<h1 class="second-main-color center">{{ "transition_workshops"|trans }}</h1>
    	{% else %}
        	<h1 class="second-main-color center">{{ "local_associations"|trans }}</h1>
    	{% endif %}

        <!-- Wrapper for slides -->
        <p>
            <div class="row">
            	
                {% for association in associations %}
                    {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                {% endfor %}
            </div>
        </p>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}