{% extends 'AppBundle:Design:design.html.twig' %}

{% block title %}
    {% if association is not null %}
        {{ association.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if app.request.query.has("source") %}
            {% if app.request.query.get("source") == "super_admin_associations" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_superadmin_associations") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% elseif app.request.query.get("source") == "super_admin_events" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_superadmin_events") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}

        {% if association is null %}
            <h1 class="page-header">{{ "association_unknown"|trans }}</h1>
        {% else %}
			
    		<p class="center">
    	        {% if association.picture is not empty %}
                	<a href="{{ asset(association.picturePath) }}">
                		<img src="{{ asset(association.picturePath) }}" class="fit picture-element"/>
            		</a>
                {% endif %}
                <h3 class="center">{{ association.name }}</h3>
            </p>

            {% if association.urlVideo is not empty %}
                <div class="center">
                    <iframe width="90%" height="315" src="{{ association.urlVideo }}?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}

            {% if association.description is not empty %}
                <p>
                    {{ association.description|nl2br }}
                </p>
            {% endif %}

            {% if association.fullAddress is not empty
                or association.website is not empty
            %}
                <h4>{{ "coordinates"|trans }}</h4>
                <ul>
                    {% if association.fullAddress is not empty %}

                        <li>
                            {{ "address_colon"|trans({"%address%": association.fullAddress }) }}
                        </li>
                    {% endif %}

                    {% if association.phone is not empty %}
                        <li>
                            {{ "phone_colon"|trans({"%phone%": association.phone }) }}
                        </li>
                    {% endif %}

                    {% if association.website is not empty %}
                        <li>
                            <a href="{{ association.website }}" target="_blank">{{ "website"|trans }}</a>
                        </li>
                    {% endif %}

                    {% if association.urlFacebook is not empty %}
                        <li>
                            <a href="{{ association.urlFacebook }}">{{ "facebook"|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

            {% if association.nextEvents|length > 0 %}
                <h4>{{ "next_events"|trans }}</h4>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    {% set index = 0 %}
                    {% for event in association.nextEvents %}

                        {% if index%3 == 0 %}

                            <div class="item {% if index == 0 %}active{% endif %}">
                            <div class="row">
                        {% endif %}

                        {% include 'AppBundle:Template:event.html.twig' with {'event': event} %}

                        {% if index%3 == 2 or loop.index >= association.nextEvents|length %}

                            </div>
                            </div>
                        {% endif %}

                        {% set index = index + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% if association is not null and association.nextEvents|length > 0 %}
        <div id="mapid" class="map"></div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="application/javascript">

    	{% if association is not null %}
            {% if association.nextEvents|length != 1 %}
                var map = L.map('mapid').setView([{{ map_center }}], 11);
            {% else %}
                var map = L.map('mapid').setView([{{ association.nextEvents[0].latitude }}, {{ association.nextEvents[0].longitude }}], 11);
            {% endif %}
    
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
    
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();
    
            var markers = [];
    
            {% for event in association.nextEvents %}
                var marker = L.marker([{{ event.latitude }}, {{ event.longitude }}]).addTo(map);
                marker.bindPopup('<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl}) }}"><strong>{{ event.name }}</strong></a>{% if event.place is not empty %}<br/>{{ event.place }}{% elseif event.street is not empty %}<br/>{{ event.street }}{% endif %}{% if event.city is not empty %}<br/>{{ event.city }}{% endif %}');
    
                markers.push([{{ event.latitude }}, {{ event.longitude }}]);
            {% endfor %}
    
            {% if association.nextEvents|length > 1 %}
                map.fitBounds(markers, { padding: [40, 40] });
            {% endif %}
        {% endif %}
    </script>
{% endblock %}