{% extends 'AppBundle:Design:design.html.twig' %}

{% block content %}
    <div class="container">
        {% if app.request.query.has("source") %}
            {% if app.request.query.get("source") == "admin_events" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_admin_events") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% elseif app.request.query.get("source") == "super_admin_events" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_superadmin_events") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	{% if app.request.query.get("source") == "association" %}
        		<li><a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl}) }}">{{ event.association.name }}</a></li>
        	{% endif %}
            {% if event is null %}
            	<li class="active">{{ "event_unknown"|trans }}</li>
            {% else %}
            	<li class="active">{{ event.name }}</li>
            {% endif %}
        </ol>

        {% if event is null %}
            <h1 class="page-header">{{ "event_unknown"|trans }}</h1>
        {% else %}
        
    		<p class="center">
    	        {% if event.picture is not empty %}
                	<a href="{{ asset(event.picturePath) }}">
                		<img src="{{ asset(event.picturePath) }}" class="fit picture-element"/>
            		</a>
            	{% elseif event.association.picture is not empty %}
            		<a href="{{ asset(event.association.picturePath) }}">
                		<img src="{{ asset(event.association.picturePath) }}" class="fit picture-element"/>
                	</a>
                {% endif %}
                <h3 class="center">{{ event.name }}</h3>
            </p>
            
            {% if event.searchVolunteers %}
            	<div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-flag" style="color: var(--second-main-color);" title="{{ "search_volunteers"|trans }}"></span> {{ "search_volunteers_message"|trans({"%name%": event.association.name}) }}
                </div>
            {% endif %}
            
            <p>{{ "proposed_by"|trans }} <a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl}) }}">{{ event.association.name }}</a></p>
    
            {% if event.website is not empty %}
                <p><a href="{{ event.website }}" target="_blank">{{ "website"|trans }}</a></p>
            {% endif %}
    
            <p style="font-family: 'avenir next'; font-size: 1.1em; margin-top: 20px; margin-bottom: 20px; max-width: 1000px;">{{ event.description|nl2br }}</p>
    
            <h4>{{ "when"|trans }}</h4>
            <p>
                {{ event.startTime|localizeddate("full", "short", locale, time_zone) }} -
                {% if event.takesLessThanOneDay %}
                    {{ event.endTime|localizeddate("none", "short", locale, time_zone) }}
                {% else %}
                    {{ event.endTime|localizeddate("full", "short", locale, time_zone) }}
                {% endif %}
            </p>
            
            <h4>{{ "pricing"|trans }}</h4>
            <p>
                {% if event.free %}
                	{{ "free"|trans }}
                {% else %}
                	<strong>{{ "paying"|trans }}</strong>
                	<br/>
                    {{ event.pricing }}
                {% endif %}
    		</p>
    		
            <h4>{{ "where"|trans }}</h4>
            <p>
                {% if event.place is not empty %}
                    <strong>{{ event.place }}</strong>
                        {% if event.fullAddress is not empty %}
                            <br/>
                        {% endif %}
                {% endif %}
    
                {% if event.fullAddress is not empty %}
                    {{ event.fullAddress }}
                {% endif %}
            </p>
        {% endif %}
    </div>
    {% if event is not null %}
    	<div id="mapid" class="map"></div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="application/javascript">

    	{% if event is not null %}
            var map = L.map('mapid').setView([{{ event.latitude }}, {{ event.longitude }}], 15);
    
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
    
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();
    
            var marker = L.marker([{{ event.latitude }}, {{ event.longitude }}]).addTo(map);
            marker.bindPopup('{% if event.place is not empty %}<strong>{{ event.place }}</strong>{% endif %}'+
                    '<br/><strong>{{ event.startTime|localizeddate("full", "short", locale, time_zone) }}</strong>'+
                    '{% if event.street is not empty %}<br/>{{ event.street }}{% endif %}'+
                    '{% if event.zipCode is not empty %}<br/>{{ event.zipCode }}{% if event.city is not empty %} {{ event.city }}{% endif %}{% endif %}'+
                    '{% if event.zipCode is empty and event.city is not empty %}<br/>{{ event.city }}{% endif %}'
            );
            marker.on('mouseover', function (e) {
                this.openPopup();
            });
            marker.on('mouseout', function (e) {
                this.closePopup();
            });
        {% endif %}
    </script>
{% endblock %}

