{% extends 'AppBundle:Design:design.html.twig' %}

{% block title %}
	{% if event is null %}
		{{ "event_unknown"|trans }}
	{% else %}
		{{ event.name }}
	{% endif %}
	 - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        {# TODO #}
        {% if app.request.query.has("source") %}
            {% if app.request.query.get("source") == "admin_events" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_admin_events") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% elseif app.request.query.get("source") == "super_admin_events" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_superadmin_events") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url("app_index") }}">{{ "homepage"|trans }}</a></li>

                {% if event is not null and app.request.query.get("source") == "association" %}
                    {% if event.association.isWorkshop %}
                        <li class="breadcrumb-item"><a href="{{ url("app_workshop", {"id": event.association.id, "name": event.association.nameForUrl}) }}">{{ event.association.name }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl}) }}">{{ event.association.name }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ url("app_events") }}">{{ "the_events"|trans }}</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">
                    {% if event is null %}
                        {{ "event_unknown"|trans }}
                    {% else %}
                        {{ event.name }}
                    {% endif %}
                </li>
            </ol>
        </nav>

        {% if event is null %}
            <h1>{{ "event_unknown"|trans }}</h1>
        {% else %}
        
    		<p class="center">
    	        {% if event.picture is not empty %}
                	<a href="{{ asset(event.picturePath) }}">
                		<img src="{{ asset(event.picturePath) }}" class="fit picture-element"/>
            		</a>
            	{% elseif event.association.picture is not empty %}
            		<a href="{{ asset(event.association.picturePath) }}">
                		<img src="{{ asset(event.association.picturePath) }}" class="fit picture-element"/>
                	</a>
                {% endif %}
                <h3 class="center">{{ event.name }}</h3>
            </p>
            
            {% if event.isCanceled %}
            	<div class="alert alert-info" role="alert">{{ "event_canceled"|trans }}</div>
            {% elseif event.isPostponed %}
            	<div class="alert alert-info" role="alert">{{ "event_postponed"|trans }}</div>
            {% endif %}
            
            {% if event.searchVolunteers %}
            	<div class="alert alert-success" role="alert">
                    <svg width="1em" height="1em"
                         viewBox="0 0 16 16" class="bi bi-flag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916A.5.5 0 0 1 3.5 9V3a.5.5 0 0 1 .223-.416l.04-.026z"/>
                    </svg> {{ "search_volunteers_message"|trans }}
                </div>
            {% endif %}
            
            <p>{{ "proposed_by"|trans }} <a href="{% if event.association.isWorkshop %}{{ url("app_workshop", {"id": event.association.id, "name": event.association.nameForUrl}) }}{% else %}{{ url("app_association", {"id": event.association.id, "name": event.association.nameForUrl}) }}{% endif %}">{{ event.association.name }}</a></p>
    
            <p style="font-family: 'Roboto Condensed Light', 'Roboto Condensed Regular', serif; font-size: 1.1em; margin-top: 20px; max-width: 1000px;">{{ event.description|nl2br }}</p>
    		
            {% if event.website is not empty or event.email is not empty %}
                <p style="margin-bottom: 20px;">
                
                	{% if event.website is not empty %}
                		<a href="{{ event.website }}">{% if event.websiteTitle is not empty %}{{ event.websiteTitle }}{% else %}{{ "read_more"|trans }}{% endif %}</a>
            		
                		{% if event.email is not empty %}<br/>{% endif %}
                	{% endif %}
            		
            		{% if event.email is not empty %}
            			
                    	{% set emailSplitted = event.email|split("@") %}
                    	
                    	{% if emailSplitted|length != 2 %}
                            {{ "email_colon"|trans({"%email%": event.email }) }}
                    	{% else %}
                        	<span>
                            {{ "email_colon"|trans({"%email%": emailSplitted[0] }) }} <img src="{{ asset("bundles/app/img/at_sign.png") }}"/> {{ emailSplitted[1] }}
                            </span>
                        {% endif %}
                    {% endif %}
        		</p>
            {% endif %}
            
            {% if event.documents|length > 0 %}
            	<p>
            		{% for document in event.documents %}
        				<a href="{{ asset(document.path) }}">{{ document.name }}</a><br/>
            		{% endfor %}
            	</p>
            {% endif %}
    
            <h4>{{ "when"|trans }}</h4>
            <p>
            	{{ event.startTime|localizeddate("full", "short", locale, time_zone) }} -
                {% if event.takesLessThanOneDay %}
                    {{ event.endTime|localizeddate("none", "short", locale, time_zone) }}
                {% else %}
                    {{ event.endTime|localizeddate("full", "short", locale, time_zone) }}
                {% endif %}
                <a href="{{ url("app_event_ics", {"id": event.id}) }}" title="{{ "add_to_calendar"|trans }}" type="button" class="btn btn-dark btn-sm">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM0 5h16v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm12.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                    </svg>
                </a>
            </p>
            
            <h4>{{ "pricing"|trans }}</h4>
            <p>
                {% if event.free %}
                	{{ "free"|trans }}
                {% else %}
                	<strong>{{ "paying"|trans }}</strong>
                	<br/>
                    {{ event.pricing }}
                {% endif %}
    		</p>
    		
    		{% if event.placeEntity is not null %}
                <h4>{{ "where"|trans }}</h4>
                
                {% set now = "now"|date("Y-m-d H:i:s") %}
                
                {% if event.carpool is not empty and event.endTime|date("Y-m-d H:i:s") > now %}
                	<div class="alert alert-success" role="alert">{{ "carpool_available"|trans }}</div>
                {% endif %}
                
                <p>
                    {% if event.carpool is not empty and event.endTime|date("Y-m-d H:i:s") > now %}
                    	
                    	<table>
                    		<tr>
                    			<td>
                    				<a type="button" class="btn btn-success" href="{{ event.carpool }}" target="_blank">{{ "carpool"|trans }}</a>
                    			</td>
                    			<td style="padding-left: 1rem;">
                    				<strong>{{ event.placeEntity.name }}</strong>
            						
                                    {% if event.placeEntity.fullAddress is not empty %}
                                    	<br/>
                                        {{ event.placeEntity.fullAddress }}
                                    {% endif %}
                    			</td>
                    		</tr>
                    	</table>
                    {% else %}
        				<strong>{{ event.placeEntity.name }}</strong>
            
                        {% if event.placeEntity.fullAddress is not empty %}
                        	<br/>
                            {{ event.placeEntity.fullAddress }}
                        {% endif %}
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
    </div>
    {% if event is not null and event.placeEntity is not null %}
    	<div id="mapid" class="map" style=""></div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="application/javascript">

    	{% if event is not null and event.placeEntity is not null %}
            var map = L.map('mapid').setView([{{ event.placeEntity.latitude }}, {{ event.placeEntity.longitude }}], 15);
    
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
    
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();
    
            var marker = L.marker([{{ event.placeEntity.latitude }}, {{ event.placeEntity.longitude }}]).addTo(map);
            marker.bindPopup('<strong>{{ event.placeEntity.name }}</strong>'+
                    '<br/><strong>{{ event.startTime|localizeddate("full", "short", locale, time_zone) }}</strong>'+
                    '{% if event.placeEntity.street is not empty %}<br/>{{ event.placeEntity.street }}{% endif %}'+
                    '{% if event.placeEntity.street2 is not empty %}<br/>{{ event.placeEntity.street2 }}{% endif %}'+
                    '{% if event.placeEntity.zipCode is not empty %}<br/>{{ event.placeEntity.zipCode }}{% if event.placeEntity.city is not empty %} {{ event.placeEntity.city }}{% endif %}{% endif %}'+
                    '{% if event.placeEntity.zipCode is empty and event.placeEntity.city is not empty %}<br/>{{ event.placeEntity.city }}{% endif %}'
            );
            marker.on('mouseover', function (e) {
                this.openPopup();
            });
            marker.on('mouseout', function (e) {
                this.closePopup();
            });
        {% endif %}
    </script>
{% endblock %}

