{% extends "AppBundle:Design:design.html.twig" %}

{% block content %}

	<div class="bg-second-main-color" style="margin-top: -20px;">
        <div class="container">
            <h3 class="white">{{ "next_events"|trans }}</h3>
            <a href="{{ url("app_events") }}" style="color: white; font-size: large;">{{ "show_all_events"|trans }}</a>
        </div>
    
        {% if nextEvents|length == 0 %}
            <div class="container">
                <p class="white">{{ "no_current_events"|trans }}</p>
            </div>
        {% else %}
        	
        	<div id="carousel-next-events" class="carousel slide">
    
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
    
                    {% for event in nextEvents %}
    
    					{% if is_mobile() and is_tablet() == false %}
    						
    						<div style="padding-left: 7%; padding-right: 7%;" class="item {% if loop.index0 == 0 %}active{% endif %}" >
								<div class="row">
									{% include 'AppBundle:Template:event.html.twig' with {'event': event, 'hideBottom': true} %}
								</div>
							</div>
    					{% else %}
                            {% if loop.index0%4 == 0 %}
        
                                <div style="padding-left: 7%; padding-right: 7%;" class="item {% if loop.index0 == 0 %}active{% endif %}" >
                                <div class="row">
                            {% endif %}
        
                            {% include 'AppBundle:Template:event.html.twig' with {'event': event, 'hideBottom': true} %}
        
                            {% if loop.index0%4 == 3 or loop.index >= nextEvents|length %}
        
                                </div>
                                </div>
                            {% endif %}
                        {% endif %}
    
                    {% endfor %}
                </div>
    
                <!-- Controls -->
                {% if (is_mobile() and is_tablet() == false and nextEvents|length > 1) or nextEvents|length > 4 %}
                    <a class="left carousel-control" role="button" onClick="carouselPrev();" style="width: 7%;">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" role="button" onClick="carouselNext();" style="width: 7%;">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </div>
            
            {% for event in nextEvents %}
    			
                {# Searching volunteers hint #}
                {% if event.searchVolunteers %}
                    <div class="modal fade" id="modal_search_volunteers_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ "search_volunteers"|trans }}</h4>
                                </div>
                                <div class="modal-body">
                                	<p>
                                		{{ "search_volunteers_message"|trans }}
                                	</p>
                                	
                                	{% set association = event.association %}
                                	
                                	{% if association.fullAddress is not empty
                                        or association.phone is not empty
                                        or association.website is not empty
                                        or association.urlFacebook is not empty
                                        or event.website is not empty
                                    %}
                                		<h5>{{ "contacts"|trans }}</h5>
                                        <ul>
                                            {% if association.fullAddress is not empty %}
                        
                                                <li>
                                                    {{ "address_colon"|trans({"%address%": association.fullAddress }) }}
                                                </li>
                                            {% endif %}
                        
                                            {% if association.phone is not empty %}
                                                <li>
                                                    {{ "phone_colon"|trans({"%phone%": association.phone }) }}
                                                </li>
                                            {% endif %}
                        
                                            {% if association.website is not empty %}
                                                <li>
                                                    <a href="{{ association.website }}" target="_blank">{{ "website"|trans }}</a>
                                                </li>
                                            {% endif %}
                        
                                            {% if association.urlFacebook is not empty %}
                                                <li>
                                                    <a href="{{ association.urlFacebook }}" target="_blank">{{ "facebook"|trans }}</a>
                                                </li>
                                            {% endif %}
                        
                                            {% if event.website is not empty %}
                                                <li>
                                                    <a href="{{ event.website }}" target="_blank">{{ "event_website"|trans }}</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    
    {% if hasNextEventsWithPlace %}
    	<div id="mapid" class="col-md-12 map fit" style="min-width: 310px;"></div>
    {% endif %}
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="padding-top: 10px;">
        <table class="center" style="width: 100%; table-layout: fixed; margin-top: 10px; max-width: 800px;">
            <tr>
                <td>
                	<a href="{{ url("app_associations") }}"><img src="{{ asset("bundles/app/img/btn-associations.svg") }}" style="width: 250px; max-width: 50%;"/></a>
                	<h3 class="second-main-color" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">{{ "local_associations"|trans }}</h3>
                </td>
                <td>
                	{% if randomAssociation is not null %}
                		<span class="second-main-color">{{ "highlight"|trans }}</span><br/>
                    	<a href="{{ url("app_association", {"id": randomAssociation.id, "name": randomAssociation.nameForUrl}) }}" style=" text-decoration: none;">
                    		<div class="img-association" style="
                				background-image: url('{{ asset(randomAssociation.picturePath) }}');
                				position: relative;
                				float: center;
                				background-position: 50% 50%;
                				background-size:     contain;
                				height: 110px; max-width: 100%;">
                            </div>
                        	<h3 class="second-main-color" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">{{ randomAssociation.name }}</h3>
                    	</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">

        $(function() {
        	$("#carousel-next-events").carousel('pause');

        	// Stops the carousel after the sliding effect
        	$("#carousel-next-events").on('slid.bs.carousel', function () {
        		$("#carousel-next-events").carousel('pause');
            });
        });

        function carouselNext() {
        	$("#carousel-next-events").carousel('next');
        }

        function carouselPrev() {
        	$("#carousel-next-events").carousel('prev');
        }

        {% if hasNextEventsWithPlace %}
            {% if nextEvents|length != 1 %}
                var map = L.map('mapid').setView([{{ map_center }}], 11);
            {% else %}
                var map = L.map('mapid').setView([{{ nextEvents[0].placeEntity.latitude }}, {{ nextEvents[0].placeEntity.longitude }}], 11);
            {% endif %}
    
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
    
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();
    
            var markers = [];
            var markerClusters = L.markerClusterGroup({
                showCoverageOnHover: false
            });
    
            {% for event in nextEvents %}

        		{% if event.placeEntity != null %}
                    var marker = L.marker([{{ event.placeEntity.latitude }}, {{ event.placeEntity.longitude }}]);
        
                    marker.bindPopup('<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl}) }}"><strong>{{ event.name }}</strong></a><br/><strong>{{ event.startTime|localizeddate("full", "short", locale, time_zone) }}</strong><br/>{{ event.placeEntity.name }}{% if event.placeEntity.street is not empty %}<br/>{{ event.placeEntity.street }}{% endif %}{% if event.placeEntity.city is not empty %}<br/>{{ event.placeEntity.city }}{% endif %}');
        
                    marker.on('mouseover', function (e) {
                        this.openPopup();
                    });
                    marker.on('mouseout', function (e) {
                        this.closePopup();
                    });
                    {% if is_mobile() == false %}
                        marker.on('click', function (e) {
                            location.href='{{ url("app_event", {"id": event.id, "name": event.nameForUrl}) }}'
                        });
                    {% endif %}
                    
                    markers.push([{{ event.placeEntity.latitude }}, {{ event.placeEntity.longitude }}]);
                    markerClusters.addLayer(marker);
                {% endif %}
            {% endfor %}
    
            {% if nextEvents|length > 1 %}
                map.fitBounds(markers, { padding: [40, 40] });
            {% endif %}
    
            map.addLayer(markerClusters);
        {% endif %}
    </script>
{% endblock %}