{% extends "@App/Design/design.html.twig" %}

{% block body_style %}background-color: #FFF8F4;{% endblock %}

{% block content %}


    <div id="carouselExampleIndicators" class="carousel slide pt-3" data-ride="carousel">
        <div class="carousel-inner">
            {% if is_mobile() %}

                {% for event in nextEvents %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">

                        <div class="row center" style="width: 80%;">
                            <div class="col mb-4">
                                {% include 'AppBundle:Template:event.html.twig' with {'event': event} %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                {% set nbNextEvents = nextEvents|length %}
                {% set nbElements = 3 %}
                {% set nbSlides = nbNextEvents/nbElements %}
                {% set offset = 0 %}
                {% for i in range(0, nbSlides) %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">

                        <div class="row center" style="width: 80%;">
                            {% if offset < nbNextEvents-1 %}
                                <div class="col mb-4">
                                    {% include 'AppBundle:Template:event.html.twig' with {'event': nextEvents[offset]} %}
                                </div>
                            {% endif %}
                            {% if (offset+1) < nbNextEvents-1 %}
                                <div class="col mb-4">
                                    {% include 'AppBundle:Template:event.html.twig' with {'event': nextEvents[offset+1]} %}
                                </div>
                            {% endif %}
                            {% if (offset+2) < nbNextEvents-1 %}
                                <div class="col mb-4">
                                    {% include 'AppBundle:Template:event.html.twig' with {'event': nextEvents[offset+2]} %}
                                </div>
                            {% endif %}
                        </div>

                        {% set offset = offset + nbElements %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{{ "previous"|trans }}</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{{ "next"|trans }}</span>
        </a>
    </div>

    <div class="container">
        <div style="text-align: center;">
            <a type="button" class="btn btn-outline-secondary mb-1 mr-4" href="{{ path("app_archives") }}">{{ "show_passed_events"|trans }}</a>
            <a type="button" class="btn btn-outline-secondary mb-1 mr-4" href="{{ path("app_map") }}">{{ "show_map"|trans }}</a>
            <a type="button" class="btn btn-outline-secondary mb-1" href="{{ path("app_events") }}">{{ "show_next_events"|trans }}</a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div style="text-align: center;">
                    <h1>{{ "local_associations"|trans }}</h1>
                </div>

                <div class="row row-cols-1 row-cols-md-2">
                    {% for association in randomAssociations %}
                        <div class="col mb-4">
                            {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                        </div>
                    {% endfor %}
                </div>

                <div style="text-align: center;">
                    <a type="button" class="btn btn-outline-primary" href="{{ url("app_associations") }}">{{ "show_associations"|trans }}</a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div style="text-align: center;">
                    <h1>{{ "transition_workshops"|trans }}</h1>
                </div>

                <div class="row row-cols-1 row-cols-md-2">
                    {% for workshop in randomWorkshops %}
                        <div class="col mb-4">
                            {% include 'AppBundle:Template:association.html.twig' with {'association': workshop} %}
                        </div>
                    {% endfor %}
                </div>

                <div style="text-align: center;">
                    <a type="button" class="btn btn-outline-primary" href="{{ url("app_workshops") }}">{{ "show_workshops"|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {% for event in nextEvents %}

        {# Searching volunteers hint #}
        {% if event.searchVolunteers %}
            <div class="modal fade" tabindex="-1" role="dialog" id="modal_search_volunteers_{{ event.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ "search_volunteers"|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {{ "search_volunteers_message"|trans }}
                            </p>

                            {% set association = event.association %}

                            {% if association.fullAddress is not empty
                                or association.phone is not empty
                                or association.website is not empty
                                or association.urlFacebook is not empty
                                or event.website is not empty
                            %}
                                <h5>{{ "contacts"|trans }}</h5>
                                <ul>
                                    {% if association.fullAddress is not empty %}

                                        <li>
                                            {{ "address_colon"|trans({"%address%": association.fullAddress }) }}
                                        </li>
                                    {% endif %}

                                    {% if association.phone is not empty %}
                                        <li>
                                            {{ "phone_colon"|trans({"%phone%": association.phone }) }}
                                        </li>
                                    {% endif %}

                                    {% if association.website is not empty %}
                                        <li>
                                            <a href="{{ association.website }}" target="_blank">{{ "website"|trans }}</a>
                                        </li>
                                    {% endif %}

                                    {% if association.urlFacebook is not empty %}
                                        <li>
                                            <a href="{{ association.urlFacebook }}" target="_blank">{{ "facebook"|trans }}</a>
                                        </li>
                                    {% endif %}

                                    {% if event.website is not empty %}
                                        <li>
                                            <a href="{{ event.website }}" target="_blank">{{ "event_website"|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}