{% extends 'AppBundle:Design:design.html.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ "site_open_source"|trans }}</h1>
        </div>
        <p class="lead">
            {{ "explanations_open_source"|trans() }}
        </p>
        <p class="lead">
            {{ "url_source_code"|trans() }}
        </p>
        <a href="{{ url_source_code }}" class="btn btn-lg" >{{ "github_profile"|trans }}</a>
    </div>
{% endblock %}

{% block js %}

{% endblock %}

