{% extends 'AppBundle:Design:design.html.twig' %}

{% block title %}
	{{ "about"|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	<li class="active">{{ "about"|trans }}</li>
        </ol>
        
        <div class="page-header">
            <h2>{{ "about"|trans }}</h2>
        </div>
        
        <p>
            {{ "explanations_open_source"|trans }}
            {% if mainAssociation is defined and mainAssociation is not null %}
                <br/>
                {{ "website_help"|trans }} <a href="{{ url("app_association", {"id": mainAssociation.id, "name": mainAssociation.nameForUrl}) }}">{{ "contact_us"|trans }}</a>
            {% endif %}
        </p>
        <p>
            {{ "url_source_code"|trans }} <a href="{{ url_source_code }}">{{ "github"|trans }}</a>
        	<br/>
        	<a href="https://www.gnu.org/licenses/quick-guide-gplv3.fr.html">{{ "license"|trans }}</a>
        </p>
    </div>
{% endblock %}

{% block js %}

{% endblock %}

