{% extends 'AppBundle:Design:design.html.twig' %}

{% block title %}
	{{ "site_open_source"|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	<li class="active">{{ "site_open_source"|trans }}</li>
        </ol>
        
        <div class="page-header">
            <h1>{{ "site_open_source"|trans }}</h1>
        </div>
        <p class="lead">
            {{ "explanations_open_source"|trans() }}
        </p>
        <p class="lead">
            {{ "url_source_code"|trans() }}
        </p>
        <a href="{{ url_source_code }}" class="btn btn-lg" >{{ "github_profile"|trans }}</a>
    </div>
{% endblock %}

{% block js %}

{% endblock %}

