<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ "newsletter_name"|trans }}</title>
  </head>
  <body>
  	<center>
		<div style="width: 700px; max-width: 95%; text-align: center; font-family: 'Avenir next'; font-size: 18px; color: #004d7f;">
			<a href="{{ website }}"><img
				src="{{ absolute_url(asset("bundles/app/img/newsletter_header.png")) }}"
				alt="{{ "newsletter_name"|trans }}"
				style="width: 600px; max-width: 100%;"></a>
			<hr style="color: #004d7f; align: center; width: 350px; max-width: 100%; height: 2px;">
            
            {% for event in events %}
            
            	{% if loop.index <= 6 %}
                    {% set picturePath = null %}
                	{% if event.picturePath is not empty %}
                        {% set picturePath = event.picturePath %}
                    {% elseif event.association.picturePath is not empty %}
                        {% set picturePath = event.association.picturePath %}
                    {% endif %}
                    
                    {% if picturePath is not empty %}
                          <a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl}) }}"><img
                            src="{{ absolute_url(asset(picturePath)) }}"
                            style="width: 350px; max-width: 100%;"></a><br>
                    {% endif %}
                    
                    {{ event.name }}<br>
                    {{ event.startTime|localizeddate("full", "short", locale, time_zone) }}<br>
                    {% if event.placeEntity is not null %}
                        {{ event.placeEntity.city|upper }}<br>
                    {% endif %}
                    
                {% else %}
                	<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl}) }}">{{ event.name }}</a><br>
                    {{ event.startTime|localizeddate("full", "short", locale, time_zone) }}<br>
                    {% if event.placeEntity is not null %}
                        {{ event.placeEntity.city|upper }}<br>
                    {% endif %}
                {% endif %}
                
                <hr style="color: #004d7f; align: center; width: 350px; max-width: 100%; height: 2px;">
            {% endfor %}
            
            {% if highlights|length > 0 %}
                
            	<a href="{{ website }}"><img
                src="{{ absolute_url(asset("bundles/app/img/website.jpeg")) }}"
                style="width: 350px; max-width: 100%;"></a>
            
            	<img
                src="{{ absolute_url(asset("bundles/app/img/highlight_events.jpeg")) }}"
                style="width: 350px; max-width: 100%;">
            	
                {% for event in highlights %}
                
                    {% set picturePath = null %}
                	{% if event.picturePath is not empty %}
                        {% set picturePath = event.picturePath %}
                    {% elseif event.association.picturePath is not empty %}
                        {% set picturePath = event.association.picturePath %}
                    {% endif %}
                    
                    {% if picturePath is not empty %}
                        <a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl}) }}"><img
                            src="{{ absolute_url(asset(picturePath)) }}"
                            style="width: 350px; max-width: 100%;"></a><br>
                    {% endif %}
                    {{ event.name }}<br>
                    {{ event.startTime|localizeddate("full", "short", locale, time_zone) }}<br>
                    {% if event.placeEntity is not null %}
                        {{ event.placeEntity.city|upper }}<br>
                    {% endif %}
                    <hr style="color: #004d7f; align: center; width: 350px; max-width: 100%; height: 2px;">
                {% endfor %}
            {% endif %}
          
        </div>
    </center>
  </body>
</html>
