{% extends 'AppBundle:Design:design.html.twig' %}

{% block title %}
	{{ "quiz_results"|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	<li><a href="{{ url("app_quiz") }}">{{ "interesting_events"|trans }}</a></li>
        	<li class="active">{{ "results"|trans }}</li>
        </ol>
        
        <center>
        	<h2 class="second-main-color">{{ "associations_finded"|trans }}</h2>
		</center>
		
		{% if associations|length == 0 %}
			<p>
				{{ "no_association_finded"|trans }}
			</p>
		{% endif %}
		
        <p>
            <div class="row">
                {% for association in associations %}
                	{% if loop.index0 < 4 %}
                        {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                    {% endif %}
                {% endfor %}
            </div>
        </p>
        
    	{% if associations|length > 4 %}
        <div class=panel-group role=tablist>
            <div class="panel panel-default">
                <div class=panel-heading role=tab id=collapseListGroupHeading1 data-toggle=collapse href=#collapseListGroup1 aria-expanded=false aria-controls=collapseListGroup1>
                    <h4 class=panel-title>
                        <a class="collapsed" style="text-decoration: none;" role=button><span class="second-main-color">{{ "other_quiz_results"|trans }}</span></a>
                    </h4>
                </div>
                <div id=collapseListGroup1 class="panel-collapse collapse" role=tabpanel aria-labelledby=collapseListGroupHeading1>
                    <p>
                    	<div class="row">
                            {% for association in associations %}
                            	{% if loop.index0 >= 4 %}
                                    {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
		
		<center>
			<a class="btn btn-success btn-lg" role="button" href="{{ url("app_quiz") }}">{{ "quiz_return"|trans }}</a>
		</center>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}

