{% extends 'AppBundle:Design:design.html.twig' %}

{% block content %}
    <div class="container">
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	<li class="active">{{ "interesting_events"|trans }}</li>
        </ol>
        
        <center>
        	<h2 class="second-main-color">{{ "quiz_question"|trans }}</h2>
    		<p>
    			<em>
        			{{ "quiz_hint"|trans }}<br/>
        			{{ "quiz_hint_2"|trans }}
    			</em>
    		</p>
		</center>
		
		<p style="padding-top: 10px;">
    		<div class="row">
        		{% for quizCategory in quizCategories %}
        			<div class="col-sm-6 col-md-4" style="margin-bottom: 10px; padding: 10px;">
        				<center>
        					<img src="{{ asset("upload/img/quiz/"~quizCategory.name~".svg") }}" id="icon_{{ quizCategory.name }}" style="height: 130px; cursor: pointer; opacity: 0.5;" onClick="select('{{ quizCategory.name }}');"/>
        					<h5 id="hint_{{ quizCategory.name }}" style="max-width: 250px; opacity: 0.7; color: black;">{{ quizCategory.name|trans }}</h5>
        				</center>
        			</div>
        			
        			<!-- TODO Gérer quand c'est sur 2 colonnes -->
        			{% if loop.index == 3 %}
        				<div class="clearfix"></div>
        			{% endif %}
        		{% endfor %}
        		
    			<!--<div class="col-sm-6 col-md-4" style="margin-bottom: 10px; padding: 10px;">
    				<center>
    					<img src="{{ asset("bundles/app/img/quizz-button.svg") }}" onClick="search();" style="height: 130px; cursor: pointer;"/>
    				</center>
    			</div>-->
    		</div>
			<center>
				<img src="{{ asset("bundles/app/img/quizz-button.svg") }}" onClick="search();" style="height: 130px; cursor: pointer;"/>
			</center>
		</p>
		
		<form method="POST" action="{{ url("app_quiz_result") }}" id="formSearch">
			<input type="hidden" id="inputCategories" name="categories" value=""/>
		</form>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

	var tabCategoriesSelected = [];

	function remove(valueToDelete) {

		var index = 0;
		var indexToDelete = -1;
		
		tabCategoriesSelected.forEach(
			function(value){

				if(value == valueToDelete)
					indexToDelete = index;
				
				index++;
			}
	    );

	    if(indexToDelete != -1)
	    	tabCategoriesSelected.splice(indexToDelete, 1);
	}

	function select(quizCategory) {
		
		var icon = $("#icon_"+quizCategory);
		var hint = $("#hint_"+quizCategory);

		if(icon.css("opacity") == 1) {

			icon.css("opacity", 0.5);
			hint.css("opacity", 0.7);
			remove(quizCategory);
			isSelected = false;
		}
		else if(tabCategoriesSelected.length < 3) {

			icon.css("opacity", 1);
			hint.css("opacity", 1);
			remove(quizCategory);
			tabCategoriesSelected.push(quizCategory);
			isSelected = true;
		}
	}

	function search() {
		var form = $("#formSearch");
		var field = $("#inputCategories");

		if(tabCategoriesSelected.length > 0) {
			
			field.val(tabCategoriesSelected);
			
			form.submit();
		}
	}
</script>
{% endblock %}

