{% extends 'AppBundle:Design:design.html.twig' %}

{% block content %}
    <div class="container">
        <center>
        	<h2 class="second-main-color">{{ "associations_finded"|trans }}</h2>
		</center>
		
		{% if associations|length == 0 %}
			<p>
				{{ "no_association_finded"|trans }}
			</p>
		{% endif %}
		
        <p>
            <div class="row">
                {% for association in associations %}
                    {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                {% endfor %}
            </div>
        </p>
		
		<center>
			<a class="btn btn-success btn-lg" role="button" href="{{ url("app_quiz") }}">{{ "quiz_return"|trans }}</a>
		</center>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    {% for association in associations %}

        {% for score in association.quizScores %}
    		$("#icon_{{ score.id }}").mouseover(function() {
    			$("#icon_{{ score.id }}").popover('show')
        	});
        
    		$("#icon_{{ score.id }}").mouseout(function() {
    			$("#icon_{{ score.id }}").popover('hide')
        	});
    	{% endfor %}
    {% endfor %}

    {% for quizCategory in quizCategories %}
    	
		$("#icon_{{ quizCategory.name }}").mouseover(function() {
			$("#icon_{{ quizCategory.name }}").popover('show')
    	});
    
		$("#icon_{{ quizCategory.name }}").mouseout(function() {
			$("#icon_{{ quizCategory.name }}").popover('hide')
    	});
    {% endfor %}
</script>
{% endblock %}

