{% extends 'AppBundle:Design:design.html.twig' %}

{% block content %}
    <div class="container">
        
        <ol class="breadcrumb">
        	<li><a href="{{ url("app_index") }}"><span class="glyphicon glyphicon-home"></span></a></li>
        	<li><a href="{{ url("app_quiz") }}">{{ "interesting_events"|trans }}</a></li>
        	<li class="active">{{ "results"|trans }}</li>
        </ol>
        
        <center>
        	<h2 class="second-main-color">{{ "associations_finded"|trans }}</h2>
		</center>
		
		{% if associations|length == 0 %}
			<p>
				{{ "no_association_finded"|trans }}
			</p>
		{% endif %}
		
        <p>
            <div class="row">
                {% for association in associations %}
                    {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                {% endfor %}
            </div>
        </p>
		
		<center>
			<a class="btn btn-success btn-lg" role="button" href="{{ url("app_quiz") }}">{{ "quiz_return"|trans }}</a>
		</center>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}

