{% extends 'AppBundle:Design:design.html.twig' %}

{% block title %}
	{% if association is null %}
		{{ "workshop_unknown"|trans }}
	{% else %}
		{{ association.name }}
	{% endif %}
	 - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        {# TODO #}
        {% if app.request.query.has("source") %}
            {% if app.request.query.get("source") == "super_admin_associations" %}
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous"><a href="{{ url("app_admin_workshops") }}"><span aria-hidden="true">&larr;</span> {{ "come_back_to_admin_page"|trans({}, "messages") }}</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url("app_index") }}">{{ "homepage"|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url("app_workshops") }}">{{ "transition_workshops"|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if association is null %}
                        {{ "workshop_unknown"|trans }}
                    {% else %}
                        {{ association.name }}
                    {% endif %}
                </li>
            </ol>
        </nav>

        {% if association is null %}
            <h1>{{ "workshop_unknown"|trans }}</h1>
        {% else %}
        
    		<p class="center">
    	        {% if association.picture is not empty %}
                	<a href="{{ asset(association.picturePath) }}">
                		<img src="{{ asset(association.picturePath) }}" class="fit picture-element"/>
            		</a>
                {% endif %}
                <h3 class="center">{{ association.name }}</h3>
            </p>
            
            {% if association.phone is not empty
		        or association.email is not empty
		        or association.website is not empty
            %}
            	<p>
					<address>
                        {% if association.phone is not empty %}
                            {{ "phone_colon"|trans({"%phone%": association.phone }) }}
                        	<br/>
                        {% endif %}
                        
                        {% if association.email is not empty %}
                            {% set emailSplitted = association.email|split("@") %}
                        	
                        	{% if emailSplitted|length != 2 %}
                                {{ "email_colon"|trans({"%email%": association.email }) }}
                        	{% else %}
                            	<span>
                                {{ "email_colon"|trans({"%email%": emailSplitted[0] }) }} <img src="{{ asset("bundles/app/img/at_sign.png") }}"/> {{ emailSplitted[1] }}
                                </span>
                            {% endif %}
                        	<br/>
                        {% endif %}
                        
                        {% if association.website is not empty %}
                        	<a href="{{ association.website }}">{{ "website"|trans }}</a>
                        	<br/>
                        {% endif %}
                        
                    </address>
				</p>
			{% endif %}
			
            {% if association.description is not empty %}
            	<p style="font-family: 'Roboto Condensed Light', 'Roboto Condensed Regular', serif; font-size: 1.1em; margin-top: 20px; margin-bottom: 20px; max-width: 1000px;">
                    {{ association.description|nl2br }}
                </p>
            {% endif %}
            
            {% if association.documents|length > 0 %}
            	<h4>{{ "documents"|trans }}</h4>
            	<ul>
            		{% for document in association.documents %}
            			<li>
            				<a href="{{ asset(document.path) }}">{{ document.name }}</a>
            			</li>
            		{% endfor %}
            	</ul>
            {% endif %}

            {% if association.nextEvents|length > 0 %}
                <h4 class="main-color">{{ "next_events"|trans }}</h4>
                </div><!-- To close the container -->
                <div id="carousel-next-events" class="carousel slide">
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
        
                        {% for event in association.nextEvents %}
        
        					{% if is_mobile() and is_tablet() == false %}
        						<div style="padding-left: 7%; padding-right: 7%;" class="item {% if loop.index0 == 0 %}active{% endif %}" >
                                	<div class="row">
                                        {% include 'AppBundle:Template:event.html.twig' with {'event': event, 'source': 'association', 'hideBottom': true} %}
                                    </div>
                                </div>
                            {% else %}
                                {% if loop.index0%4 == 0 %}
            
                                    <div style="padding-left: 7%; padding-right: 7%;" class="item {% if loop.index0 == 0 %}active{% endif %}" >
                                    <div class="row">
                                {% endif %}

                                <div class="col-12 col-sm-6 col-md-3 mb-4">
                                    {% include 'AppBundle:Template:event.html.twig' with {'event': event, 'source': 'association', 'hideBottom': true} %}
                                </div>

                                {% if loop.index0%4 == 3 or loop.index >= association.nextEvents|length %}
            
                                    </div>
                                    </div>
                                {% endif %}
                            {% endif %}
        
                        {% endfor %}
                    </div>
        
                    <!-- Controls -->
                    {% if (is_mobile() and is_tablet() == false and association.nextEvents|length > 1) or association.nextEvents|length > 4 %}
                        <a class="left carousel-control" role="button" onClick="carouselPrev();" style="width: 7%;">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" role="button" onClick="carouselNext();" style="width: 7%;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
                <div class="container"><!-- To reopen the container -->
				
                {% for event in association.nextEvents %}
        			
                    {# Searching volunteers hint #}
                    {% if event.searchVolunteers %}
                        <div class="modal fade" id="modal_search_volunteers_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">{{ "search_volunteers"|trans }}</h4>
                                    </div>
                                    <div class="modal-body">
                                    	<p>
                                    		{{ "search_volunteers_message"|trans }}
                                    	</p>
                                    	
                                    	{% if association.fullAddress is not empty
                                            or association.phone is not empty
                                            or association.website is not empty
                                            or association.urlFacebook is not empty
                                            or event.website is not empty
                                        %}
                                    		<h5>{{ "contacts"|trans }}</h5>
                                            <ul>
                                                {% if association.fullAddress is not empty %}
                            
                                                    <li>
                                                        {{ "address_colon"|trans({"%address%": association.fullAddress }) }}
                                                    </li>
                                                {% endif %}
                            
                                                {% if association.phone is not empty %}
                                                    <li>
                                                        {{ "phone_colon"|trans({"%phone%": association.phone }) }}
                                                    </li>
                                                {% endif %}
                            
                                                {% if association.website is not empty %}
                                                    <li>
                                                        <a href="{{ association.website }}" target="_blank">{{ "website"|trans }}</a>
                                                    </li>
                                                {% endif %}
                            
                                                {% if association.urlFacebook is not empty %}
                                                    <li>
                                                        <a href="{{ association.urlFacebook }}" target="_blank">{{ "facebook"|trans }}</a>
                                                    </li>
                                                {% endif %}
                            
                                                {% if event.website is not empty %}
                                                    <li>
                                                        <a href="{{ event.website }}" target="_blank">{{ "event_website"|trans }}</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "close"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>

    {% if association is not null and association.nextEvents|length > 0 and association.hasNextEventsWithPlace %}
        <div id="mapid" class="map"></div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="application/javascript">
    
        $(function() {
        	$("#carousel-next-events").carousel('pause');
    
        	// Stops the carousel after the sliding effect
        	$("#carousel-next-events").on('slid.bs.carousel', function () {
        		$("#carousel-next-events").carousel('pause');
            });
        });
    
        function carouselNext() {
        	$("#carousel-next-events").carousel('next');
        }
    
        function carouselPrev() {
        	$("#carousel-next-events").carousel('prev');
        }

    	{% if association is not null and association.nextEvents|length > 0 and association.hasNextEventsWithPlace %}
            {% if association.nextEvents|length != 1 %}
                var map = L.map('mapid').setView([{{ map_center }}], 11);
            {% else %}
                var map = L.map('mapid').setView([{{ association.nextEvents[0].placeEntity.latitude }}, {{ association.nextEvents[0].placeEntity.longitude }}], 11);
            {% endif %}
    
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
    
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();
    
            var markers = [];
            var markerClusters = L.markerClusterGroup({
                showCoverageOnHover: false
            });
    
            {% for event in association.nextEvents %}

        		{% if event.placeEntity is not null %}
                    var marker = L.marker([{{ event.placeEntity.latitude }}, {{ event.placeEntity.longitude }}]);
                    marker.bindPopup('<a href="{{ url("app_event", {"id": event.id, "name": event.nameForUrl, "source": "association"}) }}"><strong>{{ event.name }}</strong></a><br/><strong>{{ event.startTime|localizeddate("full", "short", locale, time_zone) }}</strong><br/>{{ event.placeEntity.name }}');
    
                    marker.on('mouseover', function (e) {
                        this.openPopup();
                    });
                    marker.on('mouseout', function (e) {
                        this.closePopup();
                    });
                    {% if is_mobile() == false %}
                        marker.on('click', function (e) {
                            location.href='{{ url("app_event", {"id": event.id, "name": event.nameForUrl, "source": "association"}) }}'
                        });
                    {% endif %}
                    
                    markers.push([{{ event.placeEntity.latitude }}, {{ event.placeEntity.longitude }}]);
                    markerClusters.addLayer(marker);
                {% endif %}
            {% endfor %}
    
            {% if association.nextEvents|length > 1 %}
                map.fitBounds(markers, { padding: [40, 40] });
            {% endif %}

            map.addLayer(markerClusters);
        {% endif %}
    </script>
{% endblock %}