<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">

        <title>{% if title is defined and title is not empty %}{{ title }}{% else %}{{ app_name }}{% endif %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Bootstrap datetimepicker coming from http://www.malot.fr/bootstrap-datetimepicker/ -->
        <script src="{{ asset("bundles/app/js/bootstrap-datetimepicker.min.js") }}"></script>
        <script src="{{ asset("bundles/app/js/locales/bootstrap-datetimepicker.fr.js") }}"></script>
        <script src="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
    	<script src='https://unpkg.com/leaflet.markercluster@1.0.0/dist/leaflet.markercluster.js'></script>

        <!-- Custom styles for this template -->
        <link href="{{ asset("bundles/app/css/signin.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/app/css/dashboard.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/app/css/bootstrap-datetimepicker.min.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/app/css/docs.css") }}" rel="stylesheet">
        <link href="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.Default.css" />
        <link href="{{ asset("bundles/app/css/style.css") }}" rel="stylesheet">
        
		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="{{ piwik_url }}";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '1']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Piwik Code -->
        
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>