<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="author" content="{{ app_name }}">
        <link rel="icon" type="image/svg" href="{{ asset("bundles/app/img/favicon.svg") }}">

        <meta property="og:url"           content="{{ url(app.request.attributes.get("_route"), app.request.attributes.get("_route_params")) }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:image"         content="
            {% if event is defined and event is not null %}
                {% if event.picture is not empty%}
                    {{ asset(event.picturePath) }}
                {% elseif event.association.picture is not empty %}
                    {{ asset(event.association.picturePath) }}
                {% endif %}
            {% elseif association is defined and association is not null and association.picture is not empty %}
                {{ asset(association.picturePath) }}
            {% endif %}" />

        <title>{% block title %}{{ app_name }}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
        <script src='https://unpkg.com/leaflet.markercluster@1.0.0/dist/leaflet.markercluster.js'></script>
        <link href="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.0/dist/MarkerCluster.Default.css" />

        <link href="{{ asset("bundles/app/css/style_new.css") }}" rel="stylesheet">
        {% block css %}{% endblock %}

        {% if piwik_url is not empty and piwik_site_id is not empty %}
            <!-- Piwik -->
            <script type="text/javascript">
                var _paq = _paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="{{ piwik_url }}";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', '{{ piwik_site_id }}']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Piwik Code -->
        {% endif %}
    </head>
    <body>

        <body style="{% block body_style %}{% endblock %}">
            {% block body %}{% endblock %}
        </body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- ================================================== -->
        <!-- JavaScript placed at the end of the document so the pages load faster -->
        {% block js %}{% endblock %}
    </body>
</html>