{% extends "AppBundle:Design:base.html.twig" %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url("app_index") }}" style="
                	vertical-align: middle;
                	height: 69px;
                	width: 150px;
                    background-image:url({{ asset("bundles/app/img/logo.svg") }});
    				background-size:     contain;
    				background-repeat:no-repeat;
    				background-size: 100% 100%;
                ">
                </a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
            	<ul class="nav navbar-nav navbar-left">
            		<li class="white">
            			<a><h4>{{ "welcome_message"|trans }}</h4></a>
            		</li>
                    <!--<li><a href=""></a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href=""></a></li>-->
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

	<div style="margin-top: 40px;">
        {% block content %}{% endblock %}
    </div>

    <div class="container">
    </div> <!-- /container -->

    <footer class="bs-docs-footer navbar navbar-inverse navbar-bottom" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-footer" aria-expanded="false" aria-controls="navbar-footer">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar-footer" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="btn btn-outline-inverse btn-sm" href="{{ path("app_license") }}">{{ "site_open_source"|trans }}</a></li>
                </ul>
                
                {% if mainAssociation is defined and mainAssociation is not null %}
                    <!-- <ul class="nav navbar-nav" style="float: center! important;">
                    	<li><a class="btn btn-primary btn-lg" style="margin-top: 20px;" href="{{ url("app_association", {"id": mainAssociation.id, "name": mainAssociation.nameForUrl}) }}" role="button">{{ "who_are_we"|trans }} &raquo;</a></li>
                    </ul>-->
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-outline-inverse btn-sm" href="{{ path("app_admin_index") }}">{{ "members_area"|trans }}</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </footer>

    <!-- ================================================== -->
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    {% block js %}{% endblock %}
{% endblock %}
