{% extends "AppBundle:Design:base.html.twig" %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-top: 17px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url("app_index") }}" style="
                	vertical-align: middle;
                	height: 69px;
                	width: 215px;
                    background-image:url({{ asset("bundles/app/img/logo.svg") }});
    				background-size:     contain;
    				background-repeat:no-repeat;
    				background-size: 100% 100%;
                ">
                </a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
            	<ul class="nav navbar-nav navbar-left">
            		<li class="white">
            		</li>
                    <!--<li><a href=""></a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href=""></a></li>-->
                    
    				{% if mainAssociation is defined and mainAssociation is not null %}
                        <li class="white"><a href="{{ url("app_association", {"id": mainAssociation.id, "name": mainAssociation.nameForUrl}) }}"><h4>{{ "who_are_we"|trans }} <span class="glyphicon glyphicon-question-sign"></span></h4></a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

	<div style="margin-top: 40px;">
        {% block content %}{% endblock %}
    </div>

    <div class="container">
    </div> <!-- /container -->

    <footer class="footer" style="">
        <div class="container" style="">
        	
        	<table style="width: 95%; table-layout: fixed;">
        		<tr>
        			<td>
        				<center><a class="btn btn-outline-inverse btn-sm" style="border-color: lightgrey;" href="{{ path("app_license") }}">{{ "site_open_source"|trans }}</a></center>
        			</td>
        			<td>
        			</td>
        			<td>
        				<center><a class="btn btn-outline-inverse btn-sm" style="border-color: lightgrey;" href="{{ path("app_admin_index") }}">{{ "members_area"|trans }}</a></center>
        			</td>
        		</tr>
        	</table>
        </div>
    </footer>

    <!-- ================================================== -->
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    {% block js %}{% endblock %}
{% endblock %}
