{% extends "AppBundle:Design:base_admin.html.twig" %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url("app_index") }}">{{ app_name }}</a>
                {% if environment == "dev" %}
                	<a class="navbar-brand" style="color: orange;">{{ "environment_dev"|trans|upper }}</a>
                {% elseif environment == "test" %}
                	<a class="navbar-brand" style="color: orange;">{{ "environment_test"|trans|upper }}</a>
                {% endif %}
                <a class="navbar-brand" style="color: greenyellow;">{{ "members_area"|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path("app_index") }}">{{ "homepage"|trans }}</a></li>
                    <li><a href="{{ path("fos_user_security_logout") }}">{{ "logout"|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% if is_granted("ROLE_USER") %}
                    <ul class="nav nav-sidebar">
                        <li class="{% if app.request.attributes.get('_route') == "app_admin_index" %}active{% endif %}"><a href="{{ url("app_admin_index") }}">{{ "calendar"|trans }}</a></li>
                        {% if app.user.association != null %}
                        	<li class="{% if app.request.attributes.get('_route') == "app_admin_events" %}active{% endif %}"><a href="{{ url("app_admin_events") }}">{{ "events"|trans }}</a></li>
                        	<li class="{% if app.request.attributes.get('_route') == "app_admin_association" %}active{% endif %}"><a href="{{ url("app_admin_association") }}">{{ "my_association"|trans }}</a></li>
                    	{% endif %}
                    	{% if app.user.workshop != null %}
                        	<li class="{% if app.request.attributes.get('_route') == "app_admin_workshop" %}active{% endif %}"><a href="{{ url("app_admin_workshop") }}">{{ "my_workshop"|trans }}</a></li>
                        	<li class="{% if app.request.attributes.get('_route') == "app_admin_workshop_events" %}active{% endif %}"><a href="{{ url("app_admin_workshop_events") }}">{{ "meetings"|trans }}</a></li>
                    	{% endif %}
                    </ul>
                {% endif %}
                
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ADMIN_WORKSHOP") %}
                    <h3>{{ "administration"|trans }}</h3>
                {% endif %}
                
                <ul class="nav nav-sidebar">
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="{% if app.request.attributes.get('_route') == "app_superadmin_users" %}active{% endif %}"><a href="{{ url("app_superadmin_users") }}">{{ "users"|trans }}</a></li>
                        <li class="{% if app.request.attributes.get('_route') == "app_superadmin_associations" %}active{% endif %}"><a href="{{ url("app_superadmin_associations") }}">{{ "associations"|trans }}</a></li>
                        <li class="{% if app.request.attributes.get('_route') == "app_superadmin_events" %}active{% endif %}"><a href="{{ url("app_superadmin_events") }}">{{ "events"|trans }}</a></li>
                        <li class="{% if app.request.attributes.get('_route') == "app_superadmin_places" %}active{% endif %}"><a href="{{ url("app_superadmin_places") }}">{{ "places"|trans }}</a></li>
                        <li class="{% if app.request.attributes.get('_route') == "app_superadmin_newsletters" %}active{% endif %}"><a href="{{ url("app_superadmin_newsletters") }}">{{ "newsletters"|trans }}</a></li>
                        <!--<li class="{% if app.request.attributes.get('_route') == "app_superadmin_quiz_scores" %}active{% endif %}"><a href="{{ url("app_superadmin_quiz_scores") }}">{{ "quiz"|trans }}</a></li>-->
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN_WORKSHOP") %}
                        <li class="{% if app.request.attributes.get('_route') == "app_admin_workshops" %}active{% endif %}"><a href="{{ url("app_admin_workshops") }}">{{ "workshops"|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{% block page_title %}{% endblock %}</h1>

                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- ================================================== -->
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    {% block js %}{% endblock %}
{% endblock %}

