{% extends "AppBundle:Design:base.html.twig" %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url("app_index") }}">{{ app_name }}</a>
                <a class="navbar-brand title-element">
                    {# On mobiles the title is above the elements below #}
                    {% if is_mobile() == false %}{% block title %}{% endblock %}{% endif %}
                </a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path("app_admin_index") }}">{{ "members_area"|trans }}</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="container">
    </div> <!-- /container -->

    <footer class="bs-docs-footer">
        <div class="container">
            <p><a href="{{ path("app_license") }}">{{ "site_open_source"|trans }}</a></p>
        </div>
    </footer>

    <!-- ================================================== -->
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    {% block js %}{% endblock %}
{% endblock %}
